---
import SideLayout from '../layouts/SideLayout.astro'
import PArticle from '../components/PArticle.astro'

import { Image } from 'astro:assets'
import one from '../assets/articles/1.webp'
import two from '../assets/articles/2.webp'
import three from '../assets/articles/3.webp'
import four from '../assets/articles/4.webp'
import five from '../assets/articles/5.webp'
import six from '../assets/articles/6.webp'
import seven from '../assets/articles/7.webp'
import eight from '../assets/articles/8.webp'
import nine from '../assets/articles/9.webp'
import ten from '../assets/articles/10.webp'
import eleven from '../assets/articles/11.webp'
import twelve from '../assets/articles/12.webp'
import thirteen from '../assets/articles/13.webp'
import fourteen from '../assets/articles/14.webp'
import fifteen from '../assets/articles/15.webp'
import sixteen from '../assets/articles/16.webp'
import seventeen from '../assets/articles/17.webp'
import eighteen from '../assets/articles/18.webp'
import nineteen from '../assets/articles/19.webp'
import twenty from '../assets/articles/20.webp'
import twentyone from '../assets/articles/21.webp'
import twentytwo from '../assets/articles/22.webp'
import twentythree from '../assets/articles/23.webp'
import twentyfour from '../assets/articles/24.webp'
import twentyfive from '../assets/articles/25.webp'
import twentysix from '../assets/articles/26.webp'
import twentyseven from '../assets/articles/27.webp'
import background from '../assets/images/article_background.jpg'
---

<script>
  const openWebsite = (url: any) => {
    window.open(url, '_blank')
  }

  const one = document.getElementById('one')
  one.addEventListener('click', () => {
    openWebsite('https://medium.com/illumination/dont-pay-the-ransom-ransomware-awareness-part-1-identification-230274406918')
  })

  const two = document.getElementById('two')
  two.addEventListener('click', () => {
    openWebsite('https://medium.com/illumination/dont-pay-the-ransom-ransomware-awareness-part-2-prevention-cff967846330')
  })

  const three = document.getElementById('three')
  three.addEventListener('click', () => {
    openWebsite('https://medium.com/illumination/dont-pay-the-ransom-ransomware-awareness-part-3-fixing-e248ed5bc43c')
  })

  const four = document.getElementById('four')
  four.addEventListener('click', () => {
    openWebsite('https://medium.com/short-sweet-valuable/the-park-lights-up-605e04771272')
  })

  const five = document.getElementById('five')
  five.addEventListener('click', () => {
    openWebsite('https://medium.com/long-sweet-valuable/5-helpful-free-to-use-websites-you-may-not-know-about-c8076f3da3ac?sk=f7fe8240d7f659f5e4360f83dcd7f731')
  })

  const six = document.getElementById('six')
  six.addEventListener('click', () => {
    openWebsite('https://medium.com/@patalcala/why-linux-is-best-for-most-people-48a14e414dc7?sk=c413ed4d6ae0eef3f7c9f15bcccd05b5')
  })

  const seven = document.getElementById('seven')
  seven.addEventListener('click', () => {
    openWebsite('https://medium.com/the-shortform/noises-to-help-you-focus-4326184893c7')
  })

  // const eight = document.getElementById('eight')
  // eight.addEventListener('click', () => {
  //   openWebsite('https://medium.com/short-sweet-valuable/little-things-that-make-us-smile-e98cbc5a396e')
  // })

  const eight = document.getElementById('eight')
  eight.addEventListener('click', () => {
    openWebsite('https://medium.com/short-sweet-valuable/a-caffeinated-morning-coffee-poem-b87d532a2bc5')
  })

  const nine = document.getElementById('nine')
  nine.addEventListener('click', () => {
    openWebsite('https://medium.com/the-shortform/trust-is-something-you-must-not-break-e1ac92b96fa7')
  })

  const ten = document.getElementById('ten')
  ten.addEventListener('click', () => {
    openWebsite('https://medium.com/the-shortform/how-improvisation-can-save-your-day-df9d0e8f5b13')
  })

  const eleven = document.getElementById('eleven')
  eleven.addEventListener('click', () => {
    openWebsite('https://medium.com/long-sweet-valuable/5-free-to-use-windows-applications-to-enhance-computer-experience-344647f5b320')
  })

  const twelve = document.getElementById('twelve')
  twelve.addEventListener('click', () => {
    openWebsite('https://medium.com/the-shortform/impossible-is-just-a-made-up-word-e6ab041658f5')
  })

  const thirteen = document.getElementById('thirteen')
  thirteen.addEventListener('click', () => {
    openWebsite('https://medium.com/the-shortform/stepping-into-2024-8c89178fa20a')
  })

  const fourteen = document.getElementById('fourteen')
  fourteen.addEventListener('click', () => {
    openWebsite('https://medium.com/the-shortform/studying-and-sleeping-what-is-the-connection-cf03cc67661c')
  })

  const fifteen = document.getElementById('fifteen')
  fifteen.addEventListener('click', () => {
    openWebsite('https://medium.com/the-shortform/pastimes-that-you-wont-regret-doing-4908ce1b5c39')
  })

  const sixteen = document.getElementById('sixteen')
  sixteen.addEventListener('click', () => {
    openWebsite('https://medium.com/scrittura/getting-out-of-vim-3b44852318eb')
  })

  const seventeen = document.getElementById('seventeen')
  seventeen.addEventListener('click', () => {
    openWebsite('https://medium.com/illumination/solving-distro-hopping-by-building-the-ultimate-arch-7f431a825861')
  })

  const eighteen = document.getElementById('eighteen')
  eighteen.addEventListener('click', () => {
    openWebsite('https://effective-programmer.com/why-you-should-never-bother-switching-to-typescript-da04bbd14ba9?sk=11de4aa826e82c0863520222ab9a2b88')
  })

  const nineteen = document.getElementById('nineteen')
  nineteen.addEventListener('click', () => {
    openWebsite('https://medium.com/the-shortform/never-stop-learning-ccb6737ca14e')
  })

  const twenty = document.getElementById('twenty')
  twenty.addEventListener('click', () => {
    openWebsite('https://medium.com/illuminations-mirror/why-msg-is-actually-healthier-than-salt-c6019d014293')
  })

  const twentyone = document.getElementById('twentyone')
  twentyone.addEventListener('click', () => {
    openWebsite('https://medium.com/short-sweet-valuable/forgot-my-charger-45d01d8bb5ed')
  })

  const twentytwo = document.getElementById('twentytwo')
  twentytwo.addEventListener('click', () => {
    openWebsite('https://medium.com/short-sweet-valuable/re-unlocking-imagination-to-enhance-creativity-d74c65b00f0b')
  })

  const twentythree = document.getElementById('twentythree')
  twentythree.addEventListener('click', () => {
    openWebsite('https://medium.com/the-shortform/befriend-your-future-self-9fa260433835')
  })

  const twentyfour = document.getElementById('twentyfour')
  twentyfour.addEventListener('click', () => {
    openWebsite('https://medium.com/scrittura/opening-a-door-e15ac2e6a611')
  })

  const twentyfive = document.getElementById('twentyfive')
  twentyfive.addEventListener('click', () => {
    openWebsite('https://medium.com/short-sweet-valuable/be-aware-of-poisoned-minds-70c62d07726a?sk=defdc9219c7168b7238a4d1953a3cf68')
  })

  const twentysix = document.getElementById('twentysix')
  twentysix.addEventListener('click', () => {
    openWebsite('https://levelup.gitconnected.com/finding-the-right-javascript-frontend-framework-for-you-c6a633e1bd1a?sk=603bf61462db81b61edeb5978ebd0c08')
  })

  const twentyseven = document.getElementById('twentyseven')
  twentyseven.addEventListener('click', () => {
    openWebsite('https://levelup.gitconnected.com/creating-backend-using-go-with-gin-framework-and-mysql-6ee021acc40c?sk=6096aecfc4d1255fcd7261d67234d70c')
  })

  const articles = document.getElementById('articles')
  const value = document.getElementById('value')
  const articleCount = articles.childElementCount
  value.innerHTML = articleCount.toString()
</script>

<SideLayout title="Articles - Pat Alcala" pageDescription="Articles" pageTitle="My Articles">
  <Image class="background" src={background} alt="Pat Alcala" id="image" quality={'mid'} width={1280} />
  <div class="grid">
    <div class="category">
      <span class="category--text">Count</span>
      <span class="category--number" id="value"></span>

      <section class="category--menu">
        <span>All</span>
        <span>Technology</span>
        <span>Philosophy</span>
        <span>Poem</span>
      </section>
    </div>

    <div class="articles" id="articles">
      <section class="one" id="one">
        <PArticle class="one" title="Don’t Pay the Ransom: Ransomware Awareness Part 1 - Identification" subTitle="A guide on how to prevent and fight ransomware for non-technical people" image={one} imageAlt="One Article" />
      </section>

      <section class="two" id="two">
        <PArticle class="two" title="Don’t Pay the Ransom: Ransomware Awareness Part 2 - Prevention" subTitle="A guide on how to prevent and fight ransomware for non-technical people" image={two} imageAlt="Two Article" />
      </section>

      <section class="three" id="three">
        <PArticle class="three" title="Don’t Pay the Ransom: Ransomware Awareness Part 3 — Fixing" subTitle="A guide on how to prevent and fight ransomware for non-technical people" image={three} imageAlt="Three Article" />
      </section>

      <section class="four" id="four">
        <PArticle class="four" title="The Park Lights Up" subTitle="Moment of 2023 — sweet.pub writing contest" image={four} imageAlt="Four Article" />
      </section>

      <section class="five" id="five">
        <PArticle class="five" title="5 Helpful Free-to-Use Websites You May Not Know About" subTitle="Free-to-use websites that would help you in various situations" image={five} imageAlt="Five Article" />
      </section>

      <section class="six" id="six">
        <PArticle class="six" title="Why Linux is Best for Most People" subTitle="Linux isn’t just for experts. Some Linux flavors are specifically designed for average users" image={six} imageAlt="Six Article" />
      </section>

      <section class="seven" id="seven">
        <PArticle class="seven" title="Noises to Help you Focus" subTitle="Listening to these noises will help in your focus-needed tasks" image={seven} imageAlt="Seven Article" />
      </section>

      <section class="eight" id="eight">
        <PArticle class="eight" title="A Caffeinated Morning (Coffee Poem)" subTitle="The morning rose, you began with a read. Nicely brewed cup of coffee as your lead" image={eight} imageAlt="Eight Article" />
      </section>

      <section class="nine" id="nine">
        <PArticle title="Trust is Something You Must Not Break" subTitle="It can never be regained" image={nine} imageAlt="Nine Article" />
      </section>

      <section class="ten" id="ten">
        <PArticle title="How Improvisation Can Save your Day" subTitle="When you master how to improvise, you can conquer your day" image={ten} imageAlt="Ten Article" />
      </section>

      <section class="eleven" id="eleven">
        <PArticle title="5 Free-to-use Windows Applications to Enhance Computer Experience" subTitle="Free-to-use Application that makes Windows comfortable" image={eleven} imageAlt="Eleven Article" />
      </section>

      <section class="twelve" id="twelve">
        <PArticle title="Impossible is Just a Made-Up Word" subTitle="All we need is a space" image={twelve} imageAlt="Twelve Article" />
      </section>

      <section class="thirteen" id="thirteen">
        <PArticle title="Stepping Into 2024" subTitle="A new year poem" image={thirteen} imageAlt="Thirteen Article" />
      </section>

      <section class="fourteen" id="fourteen">
        <PArticle title="Studying And Sleeping — What is the Connection?" subTitle="Is studying makes you sleepy?" image={fourteen} imageAlt="Fourteen Article" />
      </section>

      <section class="fifteen" id="fifteen">
        <PArticle title="Pastimes That You Won’t Regret Doing" subTitle="Passing time can sometimes lead to wasting time" image={fifteen} imageAlt="Fifteen Article" />
      </section>

      <section class="sixteen" id="sixteen">
        <PArticle title="Getting Out of Vim" subTitle="A nerdy poem about exiting Vim" image={sixteen} imageAlt="Sixteen Article" />
      </section>

      <section class="seventeen" id="seventeen">
        <PArticle title="Solving Distro Hopping by Building The Ultimate Arch" subTitle="You will use Arch, by the way" image={seventeen} imageAlt="Seventeen Article" />
      </section>

      <section class="eighteen" id="eighteen">
        <PArticle title="Why You Should Never Bother Switching to TypeScript" subTitle="If you’re learning TypeScript or want to try it out, you might want to read this first" image={eighteen} imageAlt="Eighteen Article" />
      </section>

      <section class="nineteen" id="nineteen">
        <PArticle title="Never Stop Learning" subTitle="Learning can either be fun, boring, or scary. It depends on who you ask" image={nineteen} imageAlt="Nineteen Article" />
      </section>

      <section class="twenty" id="twenty">
        <PArticle title="Why MSG is actually healthier than Salt" subTitle="Monosodium Glutamate vs Sodium Chloride" image={twenty} imageAlt="Twenty Article" />
      </section>

      <section class="twentyone" id="twentyone">
        <PArticle title="Forgot My Charger" subTitle="Charger, my charger, why did I forgot; How can I use my phone without your shot" image={twentyone} imageAlt="Twentyone Article" />
      </section>

      <section class="twentytwo" id="twentytwo">
        <PArticle title="Re-unlocking Imagination to Enhance Creativity" subTitle="Imagination is unlimited, and creativity should be too" image={twentytwo} imageAlt="Twentytwo Article" />
      </section>

      <section class="twentythree" id="twentythree">
        <PArticle title="Befriend your Future Self" subTitle="Your decision today will affect your future self" image={twentythree} imageAlt="Twentythree Article" />
      </section>

      <section class="twentyfour" id="twentyfour">
        <PArticle title="Opening A Door" subTitle="A poem about opening a door" image={twentyfour} imageAlt="Twentyfour Article" />
      </section>

      <section class="twentyfive" id="twentyfive">
        <PArticle title="Be Aware Of Poisoned Minds" subTitle="It’s worse than toxic people" image={twentyfive} imageAlt="Twentyfive Article" />
      </section>

      <section class="twentysix" id="twentysix">
        <PArticle title="Finding the Right JavaScript Frontend Framework For You" subTitle="Should you learn this or that?" image={twentysix} imageAlt="Twentysix Article" />
      </section>

      <section class="twentyseven" id="twentyseven">
        <PArticle title="Creating Backend Using Go with Gin Framework and MySQL" subTitle="Go fetch that data" image={twentyseven} imageAlt="Twentyseven Article" />
      </section>
    </div>
  </div>
</SideLayout>

<style lang="sass">
  $title: #aeb6c2
  $sub-title: #8296b7

  // .article
  //   // cursor: pointer
  //   border: 1px solid #008080
  //   width: 23rem
  //   display: flex
  //   flex-direction: column
  //   align-content: center
  //   justify-content: center
  //   align-items: center
  //   border-radius: 2rem
  //   transition: all 0.2s ease-in-out

  // .article:hover
  //   box-shadow: 0px 0px 3rem 3rem rgba(0, 125, 125, 0.6)

  // .picture
  //   width: 100%
  //   height: auto
  //   border-radius: 2rem 2rem 0 0

  // .title
  //   font-family: Open Sans
  //   font-size: 1rem
  //   color: $title
  //   padding: 2rem 0 2rem 0
  //   width: 100%
  //   text-align: center

  // .sub-title
  //   font-family: Inter
  //   font-size: 0.9rem
  //   color: $title
  //   padding: 0 0 2rem 0
  //   width: 100%
  //   text-align: center

  .background
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    object-fit: cover
    z-index: -1
    opacity: 0.9
    mix-blend-mode: overlay
    pointer-events: none

  .grid
    display: grid
    grid-template-columns: 0.4fr 1.6fr
    grid-template-rows: 1fr
    gap: 0px 0px
    grid-template-areas: "category articles"
    width: 100vw
    width: 100svw

  .category
    font-family: Inter
    color: $title
    grid-area: category
    position: fixed
    top: 0
    left: 0
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: flex-start
    align-items: flex-start
    align-content: flex-start
    margin: 6rem 0.5rem 2rem 2rem

  .category--text
    font-size: 1.2rem

  .category--number
    font-size: 3rem
    font-weight: 600

  .category--menu
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: flex-start
    align-items: flex-start
    align-content: flex-start
    margin: 3rem 0 0 0
    font-size: 1.4rem
    gap: 1rem
    font-weight: 400

  .articles
    margin: 5rem 0 2rem 0
    grid-area: articles
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(8, 1fr)
    gap: 3rem 2rem
    grid-template-areas: "one two three" "four five six" "seven eight nine" "ten eleven twelve" "thirteen fourteen fifteen" "sixteen seventeen eighteen" "nineteen twenty twentyone" "twentytwo twentythree twentyfour" "twentyfive twentysix twentyseven"

  .one
    grid-area: one

  .two
    grid-area: two

  .three
    grid-area: three

  .four
    grid-area: four

  .five
    grid-area: five

  .six
    grid-area: six

  .seven
    grid-area: seven

  .eight
    grid-area: eight

  .nine
    grid-area: nine

  .ten
    grid-area: ten

  .eleven
    grid-area: eleven

  .twelve
    grid-area: twelve

  .thirteen
    grid-area: thirteen

  .fourteen
    grid-area: fourteen

  .fifteen
    grid-area: fifteen

  .sixteen
    grid-area: sixteen

  .seventeen
    grid-area: seventeen

  .eighteen
    grid-area: eighteen

  .nineteen
    grid-area: nineteen

  .twenty
    grid-area: twenty

  .twentyone
    grid-area: twentyone

  .twentytwo
    grid-area: twentytwo

  .twentythree
    grid-area: twentythree

  .twentyfour
    grid-area: twentyfour

  @media screen and (max-width: 1024px)
    .grid
      display: grid
      grid-template-columns: 1fr
      grid-template-rows: 0.1fr 1.9fr
      gap: 1rem 0px
      grid-template-areas: "page-title" "articles"

    .articles
      grid-area: articles
      display: flex
      flex-direction: column
      flex-wrap: wrap
      justify-content: center
      align-items: center
      align-content: center

    .articles > section
      margin: 0px

    .article
      width: 16rem

    .title
      font-size: 0.9rem
      padding: 1rem 0 1rem 0

    .sub-title
      font-size: 0.8rem
      padding: 0 0 1.5rem 0
</style>
