---
import MainLayout from '../layouts/MainLayout.astro'
import PArticle from '../components/PArticle.astro'

import one from '../assets/articles/1.webp'
import two from '../assets/articles/2.webp'
import three from '../assets/articles/3.webp'
import four from '../assets/articles/4.webp'
import five from '../assets/articles/5.webp'
import six from '../assets/articles/6.webp'
import seven from '../assets/articles/7.webp'
import eight from '../assets/articles/8.webp'
import nine from '../assets/articles/9.webp'
import ten from '../assets/articles/10.webp'
import eleven from '../assets/articles/11.webp'
import twelve from '../assets/articles/12.webp'
import thirteen from '../assets/articles/13.webp'
---

<script>
  const openWebsite = (url: any) => {
    window.open(url, '_blank')
  }

  const one = document.getElementById('one')
  one.addEventListener('click', () => {
    openWebsite('https://medium.com/illumination/dont-pay-the-ransom-ransomware-awareness-part-1-identification-230274406918')
  })

  const two = document.getElementById('two')
  two.addEventListener('click', () => {
    openWebsite('https://medium.com/illumination/dont-pay-the-ransom-ransomware-awareness-part-2-prevention-cff967846330')
  })

  const three = document.getElementById('three')
  three.addEventListener('click', () => {
    openWebsite('https://medium.com/illumination/dont-pay-the-ransom-ransomware-awareness-part-3-fixing-e248ed5bc43c')
  })

  const four = document.getElementById('four')
  four.addEventListener('click', () => {
    openWebsite('https://medium.com/short-sweet-valuable/the-park-lights-up-605e04771272')
  })

  const five = document.getElementById('five')
  five.addEventListener('click', () => {
    openWebsite('https://medium.com/long-sweet-valuable/5-helpful-free-to-use-websites-you-may-not-know-about-c8076f3da3ac')
  })

  const six = document.getElementById('six')
  six.addEventListener('click', () => {
    openWebsite('https://medium.com/@patalcala/why-linux-is-best-for-most-people-48a14e414dc7')
  })

  const seven = document.getElementById('seven')
  seven.addEventListener('click', () => {
    openWebsite('https://medium.com/the-shortform/noises-to-help-you-focus-4326184893c7')
  })

  const eight = document.getElementById('eight')
  eight.addEventListener('click', () => {
    openWebsite('https://medium.com/short-sweet-valuable/little-things-that-make-us-smile-e98cbc5a396e')
  })

  const nine = document.getElementById('nine')
  nine.addEventListener('click', () => {
    openWebsite('https://medium.com/the-shortform/trust-is-something-you-must-not-break-e1ac92b96fa7')
  })

  const ten = document.getElementById('ten')
  ten.addEventListener('click', () => {
    openWebsite('https://medium.com/the-shortform/how-improvisation-can-save-your-day-df9d0e8f5b13')
  })

  const eleven = document.getElementById('eleven')
  eleven.addEventListener('click', () => {
    openWebsite('https://medium.com/long-sweet-valuable/5-free-to-use-windows-applications-to-enhance-computer-experience-344647f5b320')
  })

  const twelve = document.getElementById('twelve')
  twelve.addEventListener('click', () => {
    openWebsite('https://medium.com/the-shortform/impossible-is-just-a-made-up-word-e6ab041658f5')
  })

  const thirteen = document.getElementById('thirteen')
  thirteen.addEventListener('click', () => {
    openWebsite('https://medium.com/the-shortform/stepping-into-2024-8c89178fa20a')
  })
</script>

<MainLayout title="Articles - Pat Alcala" pageDescription="Articles">
  <div class="grid">
    <div class="page-title">
      <span class="page-title--text">My Articles</span>
    </div>

    <div class="articles">
      <section class="one" id="one">
        <PArticle title="Don’t Pay the Ransom: Ransomware Awareness Part 1 - Identification" subTitle="A guide on how to prevent and fight ransomware for non-technical people" image={one} imageAlt="One Article" />
      </section>

      <section class="two" id="two">
        <PArticle class="two" title="Don’t Pay the Ransom: Ransomware Awareness Part 2 - Prevention" subTitle="A guide on how to prevent and fight ransomware for non-technical people" image={two} imageAlt="Two Article" />
      </section>

      <section class="three" id="three">
        <PArticle class="three" title="Don’t Pay the Ransom: Ransomware Awareness Part 3 — Fixing" subTitle="A guide on how to prevent and fight ransomware for non-technical people" image={three} imageAlt="Three Article" />
      </section>

      <section class="four" id="four">
        <PArticle class="four" title="The Park Lights Up" subTitle="Moment of 2023 — sweet.pub writing contest" image={four} imageAlt="Four Article" />
      </section>

      <section class="five" id="five">
        <PArticle class="five" title="5 Helpful Free-to-Use Websites You May Not Know About<" subTitle="Free-to-use websites that would help you in various situations" image={five} imageAlt="Five Article" />
      </section>

      <section class="six" id="six">
        <PArticle class="six" title="Why Linux is Best for Most People<" subTitle="Linux isn’t just for experts. Some Linux flavors are specifically designed for average users" image={six} imageAlt="Six Article" />
      </section>

      <section class="seven" id="seven">
        <PArticle class="seven" title="Noises to Help you Focus<" subTitle="Listening to these noises will help in your focus-needed tasks" image={seven} imageAlt="Seven Article" />
      </section>

      <section class="eight" id="eight">
        <PArticle class="eight" title="Little Things that Make us Smile" subTitle="Summon your biggest smile" image={eight} imageAlt="Eight Article" />
      </section>

      <section class="nine" id="nine">
        <PArticle title="Trust is Something You Must Not Break" subTitle="It can never be regained" image={nine} imageAlt="Nine Article" />
      </section>

      <section class="ten" id="ten">
        <PArticle title="How Improvisation Can Save your Day" subTitle="When you master how to improvise, you can conquer your day" image={ten} imageAlt="Ten Article" />
      </section>

      <section class="eleven" id="eleven">
        <PArticle title="5 Free-to-use Windows Applications to Enhance Computer Experience" subTitle="Free-to-use Application that makes Windows comfortable" image={eleven} imageAlt="Eleven Article" />
      </section>

      <section class="twelve" id="twelve">
        <PArticle title="Impossible is Just a Made-Up Word" subTitle="All we need is a space" image={twelve} imageAlt="Twelve Article" />
      </section>

      <section class="thirteen" id="thirteen">
        <PArticle title="Stepping Into 2024" subTitle="A new year poem" image={thirteen} imageAlt="Thirteen Article" />
      </section>
    </div>
  </div>
</MainLayout>

<style lang="sass">
  $title: #aeb6c2
  $sub-title: #8296b7


  .article
    // cursor: pointer
    border: 1px solid #008080
    width: 23rem
    display: flex
    flex-direction: column
    align-content: center
    justify-content: center
    align-items: center
    border-radius: 2rem
    transition: all 0.2s ease-in-out

  

  .article:hover
    box-shadow: 0px 0px 3rem 3rem rgba(0, 125, 125, 0.6)

  .picture
    width: 100%
    height: auto
    border-radius: 2rem 2rem 0 0

  .title
    font-family: Open Sans
    font-size: 1rem
    color: $title
    padding: 2rem 0 2rem 0
    width: 100%
    text-align: center

  .sub-title
    font-family: Inter
    font-size: 0.9rem
    color: $title
    padding: 0 0 2rem 0
    width: 100%
    text-align: center

  .grid
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 0.2fr 1.8fr
    gap: 0px 0px
    grid-auto-flow: row
    grid-template-areas: "page-title" "articles"
    width: 100vw
    width: 100svw

  .grid::before
    content: ""
    position: fixed
    top: 100
    left: 0
    width: 100vw
    height: 100vh
    background-image: url(../assets/images/article_background.webp)
    mix-blend-mode: overlay
    background-size: cover
    background-position: center
    opacity: 0.3
    pointer-events: none
    

  .page-title
    grid-area: page-title
    @extend .title
    padding: 2rem 0 2rem 0

  .page-title--text
    font-size: 2rem

  .articles
    grid-area: articles
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-template-rows: 1fr 1fr
    gap: 3rem 0px
    grid-auto-flow: row
    grid-template-areas: "one two three four" "five six seven eight"
    justify-content: space-around
    justify-items: center
    align-items: center
    padding: 0 0 2rem 0

  // .articles > section
  //   margin: 0 0 2rem 0

  .one
    grid-area: one

  .two
    grid-area: two

  .three
    grid-area: three

  .four
    grid-area: four

  .five
    grid-area: five

  .six
    grid-area: six

  .seven
    grid-area: seven

  .eight
    grid-area: eight

  @media screen and (max-width: 1024px)
    .grid
      display: grid
      grid-template-columns: 1fr
      grid-template-rows: 0.1fr 1.9fr
      gap: 1rem 0px
      grid-template-areas: "page-title" "articles"

    .page-title
      grid-area: page-title
      margin: 3rem 0 0 0

    .page-title--text
      font-size: 1.4rem

    .articles
      grid-area: articles
      display: flex
      flex-direction: column
      flex-wrap: wrap
      justify-content: center
      align-items: center
      align-content: center

    .articles > section
      margin: 0px

    .article
      width: 16rem

    .title
      font-size: 0.9rem
      padding: 1rem 0 1rem 0

    .sub-title
      font-size: 0.8rem
      padding: 0 0 1.5rem 0
</style>
