---
import MainLayout from '../layouts/MainLayout.astro'
import PButton from '../components/PButton.astro'
import PButtonWide from '../components/PButtonWide.astro'
import PLogo from '../components/PLogo.astro'

import { Image } from 'astro:assets'
import pat from '../assets/images/pat2.webp'
import facebook_logo from '../assets/images/facebook_logo4.svg'
import github_logo from '../assets/images/github_logo4.svg'
import mail_black_logo from '../assets/images/mail_black_logo3.svg'
// import page1_background from '../assets/images/page1_background.jpg'
// import page2_background from '../assets/images/page2_background.jpg'
// import page3_background from '../assets/images/page3_background.jpg'
import background from '../assets/images/background.jpg'
import js_logo from '../assets/images/js_logo.svg'
import html_logo from '../assets/images/html_logo.svg'
import css_logo from '../assets/images/css_logo.svg'
import vue_logo from '../assets/images/vue_logo.svg'
import go_logo from '../assets/images/go_logo.svg'
import mysql_logo from '../assets/images/mysql_logo.svg'
import nginx_logo from '../assets/images/nginx_logo.svg'
import ts_logo from '../assets/images/ts_logo.svg'

const name = 'Patrick Alvin Alcala'
const firstname = 'Patrick'
const secondname = 'Alvin'
const lastname = 'Alcala'
---

<script>
  import { gsap } from 'gsap'
  // scrollTrigger: {
  //   scrub: 1,
  //   trigger: ".scroll-trigger-ready__worm-wrap",
  //   start: "top 90%",
  //   end: "bottom 30%",
  // }

  const openWebsite = (url: any) => {
    window.open(url, '_blank')
  }

  const facebook = document.getElementById('facebook')
  facebook.addEventListener('click', () => {
    openWebsite('https://facebook.com/patrick.alcala')
  })
  facebook.addEventListener('mouseover', () => {
    gsap.fromTo('#facebook-name', { duration: 0.6, opacity: 0, y: 100 }, { duration: 0.6, opacity: 1, y: 1 })
  })
  facebook.addEventListener('mouseleave', () => {
    gsap.to('#facebook-name', { duration: 0.6, opacity: 0, y: 100 })
  })

  const github = document.getElementById('github')
  github.addEventListener('click', () => {
    openWebsite('https://github.com/PatAlcala9')
  })
  github.addEventListener('mouseover', () => {
    gsap.fromTo('#github-name', { duration: 0.6, opacity: 0, y: 100 }, { duration: 0.6, opacity: 1, y: 1 })
  })
  github.addEventListener('mouseleave', () => {
    gsap.to('#github-name', { duration: 0.6, opacity: 0, y: 100 })
  })

  const email = document.getElementById('email')
  // email.addEventListener('click', () => {
  //   // openWebsite('https://github.com/PatAlcala9')
  // })
  email.addEventListener('mouseover', () => {
    gsap.fromTo('#email-name', { duration: 0.6, opacity: 0, y: 100 }, { duration: 0.6, opacity: 1, y: 1 })
  })
  email.addEventListener('mouseleave', () => {
    gsap.to('#email-name', { duration: 0.6, opacity: 0, y: 100 })
  })

  // const images = document.getElementById('images')
  // const image = document.getElementById('image')
  // images.addEventListener('mouseenter', () => {
  //   image.setAttribute('src', '../images/pat2.webp')
  // })
  // images.addEventListener('mouseleave', () => {
  //   image.setAttribute('src', '../images/pat.webp')
  // })

  gsap.fromTo(
    '.image',
    {
      duration: 1.5,
      scale: 0.9,
      boxShadow: '0 10px 20px rgba(41, 61, 92, 0.3)',
      padding: '2rem',
      yoyo: true,
      repeat: -1,
      ease: 'power1.inOut',
    },
    {
      duration: 1.5,
      scale: 1.2,
      boxShadow: '0 10px 20px rgba(41, 61, 92, 0)',
      padding: '1.1rem',
      yoyo: true,
      repeat: -1,
      ease: 'power1.inOut',
    }
  )

  const hiddenElementsLeft = document.querySelectorAll('.hidden-left')
  const hiddenElementsRight = document.querySelectorAll('.hidden-right')

  const observer = new IntersectionObserver((elems) => {
    elems.map((elem) => {
      if (elem.isIntersecting) {
        // if (elem.target.classList.contains('hidden-right')) {
        //   elem.target.classList.add('show-right')
        // } else {
        //   elem.target.classList.add('show-left')
        // }
        elem.target.classList.add('show')
      } else {
        elem.target.classList.remove('show')
      }
    })
  })

  hiddenElementsLeft.forEach((elem) => observer.observe(elem))
  hiddenElementsRight.forEach((elem) => observer.observe(elem))
</script>

<MainLayout title="Pat Alcala" pageDescription="Portfolio">
  <div class="grid">
    <Image class="background-one" src={background} alt="Pat Alcala" id="image" quality={'mid'} width={1280} />

    <section class="texts">
      <span class="text--intro" id="text--intro">Hello, my name is</span>
      <span class="text--name showOnDesktop" id="text--name">{name}</span>

      <div class="text--name--split">
        <span class="text--name showOnMobile">{firstname}</span>
        <span class="text--name showOnMobile">{secondname}</span>
        <span class="text--name showOnMobile">{lastname}</span>
      </div>

      <span class="text--description">I'm a Computer Engineer and Writer based on Philippines</span>

      <section class="minilogos">
        <div id="facebook">
          <PLogo img={facebook_logo} alt="facebook logo" textid="facebook-name" text="Facebook" />
        </div>

        <div class="showOnDesktop" id="github">
          <PLogo img={github_logo} alt="github logo" textid="github-name" text="Github" margin="2.5" />
        </div>

        <div class="showOnMobile" id="github">
          <PLogo img={github_logo} alt="github logo" textid="github-name" text="Github" />
        </div>

        <div id="email">
          <PLogo img={mail_black_logo} alt="email logo" textid="email-name" text="Email" />
        </div>
      </section>
    </section>

    <section class="images" id="images">
      <Image class="image" src={pat} alt="Pat Alcala" id="image" quality={'mid'} width={800} height={800} />
    </section>

    <section class="buttons">
      <a href="projects">
        <div class="showOnDesktop" id="to-github">
          <PButton text="My Work" />
        </div>

        <div class="showOnMobile button">
          <PButtonWide text="My Work" />
        </div>
      </a>

      <a href="articles">
        <div class="showOnDesktop" id="to-medium">
          <PButton text="My Articles" />
        </div>

        <div class="showOnMobile button">
          <PButtonWide text="My Articles" />
        </div>
      </a>
    </section>
  </div>

  <div class="grid2">
    <section class="grid2-title">
      <span class="hidden-right">About Me</span>
    </section>

    <section class="grid2-body">
      <span class="hidden-left">I create web applications in both frontend and backend, along with UI/UX design.</span>
    </section>
  </div>

  <div class="grid3">
    <section class="grid3-title">
      <span class="hidden-left">Skills</span>
    </section>

    <section class="grid3-body hidden-right">
      <div class="one">
        <Image class="html_logo" src={html_logo} alt="html_logo" quality={'mid'} width={60} />
      </div>
      <div class="two">
        <Image class="css_logo" src={css_logo} alt="css_logo" quality={'mid'} width={60} />
      </div>
      <div class="three">
        <Image class="js_logo" src={js_logo} alt="js_logo" quality={'mid'} width={60} />
      </div>
      <div class="four">
        <Image class="vue_logo" src={vue_logo} alt="vue_logo" quality={'mid'} width={120} />
      </div>
      <div class="five">
        <Image class="go_logo" src={go_logo} alt="go_logo" quality={'mid'} width={100} />
      </div>
      <div class="six">
        <Image class="nginx_logo" src={nginx_logo} alt="nginx_logo" quality={'mid'} width={120} />
      </div>
      <div class="seven">
        <Image class="mysql_logo" src={mysql_logo} alt="mysql_logo" quality={'mid'} width={120} />
      </div>
      <div class="eight">
        <Image class="ts_logo" src={ts_logo} alt="ts_logo" quality={'mid'} width={60} />
      </div>
    </section>
  </div>
</MainLayout>

<style lang="sass">
  $title: #aeb6c2
  $sub-title: #8296b7
  // $text: #DEE5F0
  $text: #f2f2f2

  .page
    padding: 4rem
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: flex-start
    align-items: flex-start
    align-content: flex-start
    height: 100vh
    height: 100svh

  .grid
    display: grid
    grid-template-columns: 1.3fr 0.7fr
    grid-template-rows: 1fr 1fr
    gap: 0px 0px
    grid-template-areas: ".images" "texts buttons"
    height: 100vh
    height: 100svh

  .background-one
    position: absolute
    top: 0
    left: 0
    width: 100vw
    height: 300vh
    object-fit: cover
    z-index: -1
    opacity: 0.9
    mix-blend-mode: overlay
    pointer-events: none

  .backgroundimage
    position: absolute
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    object-fit: cover
    z-index: -1
    opacity: 0.9
    mix-blend-mode: overlay
    pointer-events: none

  .backgroundimage2
    position: absolute
    top: 100
    left: 0
    width: 100vw
    height: 100vh
    object-fit: cover
    z-index: -1
    opacity: 0.9
    mix-blend-mode: overlay
    pointer-events: none

  .backgroundimage3
    position: absolute
    top: 200
    left: 0
    width: 100vw
    height: 100vh
    object-fit: cover
    z-index: -1
    opacity: 0.9
    mix-blend-mode: overlay
    pointer-events: none

  .blank
    grid-area: blank

  .buttons
    grid-area: buttons
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-end
    align-items: center
    align-content: flex-end
    margin: 0 0 5rem 0
    width: 72%

  .texts
    grid-area: texts
    margin: 0 0 0 8rem
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: flex-start
    align-items: flex-start
    align-content: flex-start
    gap: 0.9rem

  .text--intro
    font-family: 'Inter'
    font-size: 1.4rem
    font-weight: 500
    color: $sub-title

  .text--name
    font-family: 'Inter'
    font-weight: 800
    font-size: 5rem
    color: $title
    transition: color 1s ease-out
    text-shadow: 2px 2px 4px rgba(41, 61, 92, 0.3)

  .text--name:hover
    color: transparent
    -webkit-text-stroke: 2px $title
    transition: all 1s ease-out

  .text--description
    margin: -1rem 0 0 0
    font-family: 'Inter'
    font-size: 1.2rem
    font-weight: 500
    color: $title

  .images
    grid-area: images
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center
    align-items: center
    flex-wrap: wrap
    // margin: 4rem 4rem 0 0

  .image
    border-radius: 50%
    width: 20rem
    height: auto
    cursor: url('../assets/images/mouse2-32.webp') 0 0, auto
    padding: 2rem
    background-color: transparent
    backdrop-filter: blur(9px) saturate(101%)
    border: 1px solid rgba(209, 213, 219, 0.3)
    // transform: translateZ(0)
    // box-shadow: 0 10px 20px rgba(41, 61, 92, 0.3)
    // animation: floatAnimation 3s ease-in-out infinite

  @keyframes floatAnimation
    0%
      transform: scale(0.9)
      box-shadow: 0 10px 20px rgba(41, 61, 92, 0.3)
      padding: 2rem

    50%
      transform: scale(1.1)
      box-shadow: 0 10px 20px rgba(41, 61, 92, 0)
      padding: 1.8rem

    100%
      transform: scale(0.9)
      box-shadow: 0 10px 20px rgba(41, 61, 92, 0.3)
      padding: 2rem

  // .image--hidden
  //   @extend .image

  // .image--text
  //   font-family: Inter
  //   font-size: 1.1rem
  //   padding: 1rem 0 0 0
  //   color: #8296b7

  // .logos
  //   grid-area: logos
  //   justify-self: center
  //   align-self: center
  //   margin-top: -4rem

  // .logo
  //   width: 500px
  //   opacity: 0.1
  //   display: flex
  //   flex-wrap: wrap
  //   justify-content: center
  //   align-items: center
  //   align-content: center
  //   z-index: -50

  // .glow
  //   height: 50rem
  //   width: 50rem
  //   background: rgb(18,45,85)
  //   background: radial-gradient(circle, rgba(18,45,85,1) 0%, rgba(10,25,48,0) 70%)
  //   background-size: 100%
  //   background-repeat: no-repeat
  //   background-position: center
  //   z-index: -1
  //   position: absolute

  .minilogos
    // display: flex
    // flex-direction: column
    // margin: 0 0 0 8rem
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-start
    align-items: center
    align-content: center
    margin: 1.6rem 0 0 0

  .minilogo--logo
    cursor: pointer
    width: 2.6rem
    height: auto
    background: transparent
    background-blend-mode: soft-light
    transition: all 0.4s ease

  .minilogo--logo:hover
    cursor: url('../assets/images/mouse2-32.webp') 0 0, auto

  .logo-and-name
    display: flex
    flex-direction: column
    align-content: center
    align-items: center
    margin: 0 1rem 0 0

  .minilogo--name
    font-family: Inter
    color: $title
    padding: 1.1rem 0 0 0
    opacity: 0

  .showOnDesktop
    display: block

  .showOnMobile
    display: none

  .text--name--split
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: center
    align-items: center
    align-content: center

  .grid2
    // height: 100vh
    // height: 100svh
    // display: grid
    // grid-template-columns: 1fr
    // grid-template-rows: 0.1fr 1.9fr
    // gap: 0px 0px
    // grid-template-areas: "grid2-title" "grid2-body"
    display: grid
    grid-template-columns: 1.2fr 0.8fr
    grid-template-rows: 0.8fr 1.2fr
    gap: 0px 0px
    grid-template-areas: ".grid2-title" "grid2-body."
    height: 100vh
    height: 100svh

  .grid2-title
    grid-area: grid2-title
    display: flex
    justify-content: center
    align-items: center
    align-content: center
    font-family: 'Inter'
    font-size: 4rem
    font-weight: 700
    color: $title
    margin: 8rem 0 0 0

  .grid2-body
    grid-area: grid2-body
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: center
    align-items: center
    align-content: center
    font-family: 'Inter'
    font-size: 1.4rem
    font-weight: 400
    margin: 8rem
    color: $text

  .grid3
    display: grid
    grid-template-columns: 0.8fr 1.2fr
    grid-template-rows: 0.8fr 1.2fr
    gap: 0px 0px
    grid-template-areas: "grid3-title." ".grid3-body"
    height: 100vh
    height: 100svh

  .grid3-title
    @extend .grid2-title
    grid-area: grid3-title

  .grid3-body
    @extend .grid2-body
    grid-area: grid3-body
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-template-rows: 1fr 1fr 1fr
    gap: 0 0
    grid-template-areas: "one two three four" "five six seven eight" "nine ten eleven twelve"

  .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve
    justify-self: center
    align-self: center

  .one
    grid-area: one
  .two
    grid-area: two
  .three
    grid-area: three
  .four
    grid-area: four
  .five
    grid-area: five
  .six
    grid-area: six
  .seven
    grid-area: seven
  .eight
    grid-area: eight
  .nine
    grid-area: nine
  .ten
    grid-area: ten
  .eleven
    grid-area: eleven
  .twelve
    grid-area: twelve

  .hidden-right
    opacity: 0
    transform: translateX(90px)
    transition: all 1.2s cubic-bezier(0.39, 0.575, 0.565, 1)

  .hidden-left
    opacity: 0
    transform: translateX(-90px)
    transition: all 1.2s cubic-bezier(0.39, 0.575, 0.565, 1)

  .show
    opacity: 1
    transform: translateX(0)

  @media screen and (max-width: 1439px)
    // .grid
    //   display: grid
    //   grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    //   grid-template-rows: 1fr 1fr 1fr
    //   gap: 0px 0px
    //   grid-template-areas: "texts texts texts texts images" "minilogos logos logos logos logos" "buttons buttons buttons buttons buttons" "articles articles articles articles articles"

    .images
      // grid-area: images
      // display: inline
      // padding: 2.4rem 4rem 0 0

    .image
      width: 12rem
      height: auto

    .text--intro
      font-size: 1.2rem

    .text--name
      font-size: 2.8rem

    .text--description
      font-size: 1.2rem

  @media screen and (max-width: 1023px)
    .grid
      display: grid
      grid-template-columns: 1fr
      grid-template-rows: 1fr 1fr 1fr
      gap: 3rem
      grid-template-areas: "images" "texts" "buttons"
      width: 100vw
      overflow: auto

    .grid::before
      background-image: url(../assets/images/page1_mobile_background.webp)
      mix-blend-mode: overlay

    .images
      grid-area: images
      display: flex
      flex-direction: column
      flex-wrap: wrap
      justify-content: flex-start
      align-items: center
      align-content: center
      margin: 1rem 0 0 0
      // opacity: 1

    .minilogos
      grid-area: minilogos
      // margin: 4rem 3rem 0 0

    .texts
      grid-area: texts
      margin: 0
      display: flex
      flex-direction: column
      flex-wrap: wrap
      justify-content: center
      align-items: center
      align-content: center

    .buttons
      grid-area: buttons
      display: flex
      flex-direction: column
      flex-wrap: wrap
      justify-content: center
      align-items: center
      align-content: center
      margin: auto
      padding: auto
      width: 100vw

    .button
      margin: 0 0 1.2rem 0

    .text--intro
      font-size: 1rem

    .text--name
      font-size: 2.4rem

    .text--description
      font-size: 0.9rem
      text-align: center
      margin: 0.5rem 0 0 0

    .showOnDesktop
      display: none

    .showOnMobile
      display: block

    .grid2
      display: grid
      grid-template-columns: 1fr
      grid-template-rows: 0.2fr 1.8fr
      gap: 0px 0px
      grid-template-areas: "grid2-title" "grid2-body"
      width: 100svw
      overflow: auto

    .grid2::before
      background-image: url(../assets/images/page2_mobile_background.webp)
      mix-blend-mode: overlay

    .grid2-title
      grid-area: grid2-title
      font-size: 2rem
      color: $title
      margin: 6rem 0 0 0
      font-weight: bold

    .grid2-body
      grid-area: grid2-body
      text-align: center
      font-size: 1.2rem

    .grid3
      display: grid
      grid-template-columns: 1fr
      grid-template-rows: 0.2fr 1.8fr
      gap: 0px 0px
      grid-template-areas: "grid3-title" "grid3-body"
      width: 100svw
      overflow: auto

    .grid2::before
      background-image: url(../assets/images/page2_mobile_background.webp)
      mix-blend-mode: overlay

    .grid3-title
      grid-area: grid3-title
      font-size: 2rem
      color: $title
      margin: 6rem 0 0 0
      font-weight: bold

    .grid3-body
      @extend .grid2-body
      grid-area: grid3-body
</style>
