---
import MainLayout from '../layouts/MainLayout.astro'
import PButton from '../components/PButton.astro'
import PButtonWide from '../components/PButtonWide.astro'
import PLogo from '../components/PLogo.astro'

import { Image } from 'astro:assets'
import pat from '../assets/images/pat2.webp'
import facebook_logo from '../assets/images/facebook_logo4.svg'
import github_logo from '../assets/images/github_logo4.svg'
import mail_black_logo from '../assets/images/mail_black_logo3.svg'
// import page1_background from '../assets/images/page1_background.jpg'
// import page2_background from '../assets/images/page2_background.jpg'
// import page3_background from '../assets/images/page3_background.jpg'
import background from '../assets/images/background.jpg'
import background_mobile from '../assets/images/background_mobile.jpg'
import js_logo from '../assets/images/js_logo.svg'
import html_logo from '../assets/images/html_logo.svg'
import css_logo from '../assets/images/css_logo.svg'
import vue_logo from '../assets/images/vue_logo.svg'
import go_logo from '../assets/images/go_logo.svg'
import mysql_logo from '../assets/images/mysql_logo.svg'
import nginx_logo from '../assets/images/nginx_logo.svg'
import ts_logo from '../assets/images/ts_logo.svg'
import cplusplus_logo from '../assets/images/cplusplus_logo.svg'
import nuxt_logo from '../assets/images/nuxt_logo.svg'
import quasar_logo from '../assets/images/quasar_logo2.png'
import astro_logo from '../assets/images/astro_logo.svg'
import dotnet_logo from '../assets/images/dotnet_logo.svg'
import mongodb_logo from '../assets/images/mongodb_logo2.png'
import express_logo from '../assets/images/express_logo2.svg'
import fastify_logo from '../assets/images/fastify_logo2.svg'
import gimp_logo from '../assets/images/gimp_logo.svg'
import photoshop_logo from '../assets/images/photoshop_logo.svg'
import premiere_logo from '../assets/images/premiere_logo.svg'
import davinci_logo from '../assets/images/davinci_logo.png'
import react_logo from '../assets/images/react_logo.svg'
import nextjs_logo from '../assets/images/nextjs_logo2.svg'

const name = 'Patrick Alvin Alcala'
const firstname = 'Patrick'
const secondname = 'Alvin'
const lastname = 'Alcala'

const about = 'I create web applications in both frontend and backend, along with UI/UX design that focuses on performance and security.'
const about2 = `I also writes articles and stories online, and as a tech enthusiast, I enjoy learning and exploring new technologies as a hobby.`
---

<script>
  import { gsap } from 'gsap'
  import tippy, { followCursor } from 'tippy.js'
  import 'tippy.js/dist/tippy.css'
  import 'tippy.js/animations/scale.css'

  // const about1 = 'I create web applications in both frontend and backend, along with UI/UX design.'
  // const about = `A versatile and experienced full-stack developer with an interest in UX design, web development, and data
  // analysis. Focus on leveraging secure, high-performance, and user-friendly web applications. Seeking a new
  // challenge and a better opportunity to develop and improve skills and knowledge.
  // I am also a tech enthusiast who enjoys exploring and learning new technologies and, occasionally, a writer
  // who writes articles and stories online.`

  // scrollTrigger: {
  //   scrub: 1,
  //   trigger: ".scroll-trigger-ready__worm-wrap",
  //   start: "top 90%",
  //   end: "bottom 30%",
  // }

  const openWebsite = (url: any) => {
    window.open(url, '_blank')
  }

  const facebook = document.getElementById('facebook')
  facebook.addEventListener('click', () => {
    openWebsite('https://facebook.com/patrick.alcala')
  })
  facebook.addEventListener('mouseover', () => {
    gsap.fromTo('#facebook-name', { duration: 0.6, opacity: 0, y: 100 }, { duration: 0.6, opacity: 1, y: 1 })
  })
  facebook.addEventListener('mouseleave', () => {
    gsap.to('#facebook-name', { duration: 0.6, opacity: 0, y: 100 })
  })

  const github = document.getElementById('github')
  github.addEventListener('click', () => {
    openWebsite('https://github.com/PatAlcala9')
  })
  github.addEventListener('mouseover', () => {
    gsap.fromTo('#github-name', { duration: 0.6, opacity: 0, y: 100 }, { duration: 0.6, opacity: 1, y: 1 })
  })
  github.addEventListener('mouseleave', () => {
    gsap.to('#github-name', { duration: 0.6, opacity: 0, y: 100 })
  })

  const email = document.getElementById('email')
  // email.addEventListener('click', () => {
  //   // openWebsite('https://github.com/PatAlcala9')
  // })
  email.addEventListener('mouseover', () => {
    gsap.fromTo('#email-name', { duration: 0.6, opacity: 0, y: 100 }, { duration: 0.6, opacity: 1, y: 1 })
  })
  email.addEventListener('mouseleave', () => {
    gsap.to('#email-name', { duration: 0.6, opacity: 0, y: 100 })
  })

  // const images = document.getElementById('images')
  // const image = document.getElementById('image')
  // images.addEventListener('mouseenter', () => {
  //   image.setAttribute('src', '../images/pat2.webp')
  // })
  // images.addEventListener('mouseleave', () => {
  //   image.setAttribute('src', '../images/pat.webp')
  // })

  gsap.fromTo(
    '.image',
    {
      duration: 1.5,
      scale: 0.9,
      boxShadow: '0 10px 20px rgba(41, 61, 92, 0.3)',
      padding: '2rem',
      yoyo: true,
      repeat: -1,
      ease: 'power1.inOut',
    },
    {
      duration: 1.5,
      scale: 1.2,
      boxShadow: '0 10px 20px rgba(41, 61, 92, 0)',
      padding: '1.1rem',
      yoyo: true,
      repeat: -1,
      ease: 'power1.inOut',
    }
  )

  const hiddenElementsLeft = document.querySelectorAll('.hidden-left')
  const hiddenElementsRight = document.querySelectorAll('.hidden-right')
  const hiddenElementsUp = document.querySelectorAll('.hidden-up')

  const observer = new IntersectionObserver((elems) => {
    elems.map((elem) => {
      if (elem.isIntersecting) {
        // if (elem.target.classList.contains('hidden-right')) {
        //   elem.target.classList.add('show-right')
        // } else {
        //   elem.target.classList.add('show-left')
        // }
        elem.target.classList.add('show')
      } else {
        elem.target.classList.remove('show')
      }
    })
  })

  hiddenElementsLeft.forEach((elem) => observer.observe(elem))
  hiddenElementsRight.forEach((elem) => observer.observe(elem))
  hiddenElementsUp.forEach((elem) => observer.observe(elem))

  tippy('#html_logo', {
    theme: 'tomato',
    content: '<a style="font-family: \'Inter\'; font-size: 1.2rem; font-weight: 700; color: #f2f2f2">HTML5</a><br/><a style="font-family: \'Inter\'; font-size: 1rem; font-weight: 500; color: #f5f5f5">A markup Language used for creating the structure and content of web pages</a>',
    followCursor: true,
    allowHTML: true,
    animation: 'scale',
    plugins: [followCursor],
  })

  tippy('#css_logo', {
    theme: 'tomato',
    content: '<a style="font-family: \'Inter\'; font-size: 1.2rem; font-weight: 700; color: #f2f2f2">CSS3</a><br/><a style="font-family: \'Inter\'; font-size: 1rem; font-weight: 500; color: #f5f5f5">A styling language used to control the presentation and appearance of HTML elements on web pages</a>',
    followCursor: true,
    allowHTML: true,
    animation: 'scale',
    plugins: [followCursor],
  })

  tippy('#js_logo', {
    theme: 'tomato',
    content: '<a style="font-family: \'Inter\'; font-size: 1.2rem; font-weight: 700; color: #f2f2f2">JavaScript</a><br/><a style="font-family: \'Inter\'; font-size: 1rem; font-weight: 500; color: #f5f5f5">A programming language primarily used for adding interactivity and dynamic behavior to web pages</a>',
    followCursor: true,
    allowHTML: true,
    animation: 'scale',
    plugins: [followCursor],
  })

  tippy('#vue_logo', {
    theme: 'tomato',
    content: '<a style="font-family: \'Inter\'; font-size: 1.2rem; font-weight: 700; color: #f2f2f2">Vue JS</a><br/><a style="font-family: \'Inter\'; font-size: 1rem; font-weight: 500; color: #f5f5f5">A progressive JavaScript framework for building user interfaces, providing a reactive and component-based approach to web development</a>',
    followCursor: true,
    allowHTML: true,
    animation: 'scale',
    plugins: [followCursor],
  })

  tippy('#go_logo', {
    theme: 'tomato',
    content: '<a style="font-family: \'Inter\'; font-size: 1.2rem; font-weight: 700; color: #f2f2f2">Go</a><br/><a style="font-family: \'Inter\'; font-size: 1rem; font-weight: 500; color: #f5f5f5">An open-source programming language known for its simplicity, efficiency, and strong support for concurrent programming</a>',
    followCursor: true,
    allowHTML: true,
    animation: 'scale',
    plugins: [followCursor],
  })

  tippy('#nginx_logo', {
    theme: 'tomato',
    content: '<a style="font-family: \'Inter\'; font-size: 1.2rem; font-weight: 700; color: #f2f2f2">Nginx</a><br/><a style="font-family: \'Inter\'; font-size: 1rem; font-weight: 500; color: #f5f5f5">A high-performance web server and reverse proxy server known for its speed, scalability, and efficient handling of concurrent connections</a>',
    followCursor: true,
    allowHTML: true,
    animation: 'scale',
    plugins: [followCursor],
  })

  tippy('#mysql_logo', {
    theme: 'tomato',
    content: '<a style="font-family: \'Inter\'; font-size: 1.2rem; font-weight: 700; color: #f2f2f2">MySQL</a><br/><a style="font-family: \'Inter\'; font-size: 1rem; font-weight: 500; color: #f5f5f5">An open-source relational database management system (RDBMS) widely used for storing and managing structured data</a>',
    followCursor: true,
    allowHTML: true,
    animation: 'scale',
    plugins: [followCursor],
  })

  tippy('#ts_logo', {
    theme: 'tomato',
    content: '<a style="font-family: \'Inter\'; font-size: 1.2rem; font-weight: 700; color: #f2f2f2">TypeScript</a><br/><a style="font-family: \'Inter\'; font-size: 1rem; font-weight: 500; color: #f5f5f5">An open-source programming language developed by Microsoft, which is a typed superset of JavaScript. TypeScript adds static typing and additional features to JavaScript, enabling developers to catch errors early during development and enhance code maintainability and scalability</a>',
    followCursor: true,
    allowHTML: true,
    animation: 'scale',
    plugins: [followCursor],
  })

  tippy('#cplusplus_logo', {
    theme: 'tomato',
    content: '<a style="font-family: \'Inter\'; font-size: 1.2rem; font-weight: 700; color: #f2f2f2">C++</a><br/><a style="font-family: \'Inter\'; font-size: 1rem; font-weight: 500; color: #f5f5f5">A general-purpose programming language known for its high performance, efficiency, and extensive use in various domains, including system programming, game development, and embedded systems</a>',
    followCursor: true,
    allowHTML: true,
    animation: 'scale',
    plugins: [followCursor],
  })

  tippy('#nuxt_logo', {
    theme: 'tomato',
    content: '<a style="font-family: \'Inter\'; font-size: 1.2rem; font-weight: 700; color: #f2f2f2">Nuxt JS</a><br/><a style="font-family: \'Inter\'; font-size: 1rem; font-weight: 500; color: #f5f5f5">A framework for building server-side rendered (SSR) Vue.js applications. Nuxt.js provides a convention-based setup and a streamlined development experience for creating universal Vue.js applications</a>',
    followCursor: true,
    allowHTML: true,
    animation: 'scale',
    plugins: [followCursor],
  })

  tippy('#quasar_logo', {
    theme: 'tomato',
    content: '<a style="font-family: \'Inter\'; font-size: 1.2rem; font-weight: 700; color: #f2f2f2">Quasar</a><br/><a style="font-family: \'Inter\'; font-size: 1rem; font-weight: 500; color: #f5f5f5">A high-performance Vue.js-based framework for building responsive and cross-platform applications. Quasar provides a rich set of UI components, such as buttons, forms, dialogs, and layouts, with a consistent and customizable design</a>',
    followCursor: true,
    allowHTML: true,
    animation: 'scale',
    plugins: [followCursor],
  })

  tippy('#astro_logo', {
    theme: 'tomato',
    content: '<a style="font-family: \'Inter\'; font-size: 1.2rem; font-weight: 700; color: #f2f2f2">Astro</a><br/><a style="font-family: \'Inter\'; font-size: 1rem; font-weight: 500; color: #f5f5f5">A modern static site builder that combines the benefits of static site generation with dynamic components</a>',
    followCursor: true,
    allowHTML: true,
    animation: 'scale',
    plugins: [followCursor],
  })

  tippy('#dotnet_logo', {
    theme: 'tomato',
    content: '<a style="font-family: \'Inter\'; font-size: 1.2rem; font-weight: 700; color: #f2f2f2">Dot Net</a><br/><a style="font-family: \'Inter\'; font-size: 1rem; font-weight: 500; color: #f5f5f5">A free, open-source framework developed by Microsoft for building various types of applications</a>',
    followCursor: true,
    allowHTML: true,
    animation: 'scale',
    plugins: [followCursor],
  })

  tippy('#mongodb_logo', {
    theme: 'tomato',
    content: '<a style="font-family: \'Inter\'; font-size: 1.2rem; font-weight: 700; color: #f2f2f2">Mongo DB</a><br/><a style="font-family: \'Inter\'; font-size: 1rem; font-weight: 500; color: #f5f5f5">A NoSQL database management system that stores data in a flexible, document-oriented format called BSON (Binary JSON)</a>',
    followCursor: true,
    allowHTML: true,
    animation: 'scale',
    plugins: [followCursor],
  })

  tippy('#express_logo', {
    theme: 'tomato',
    content: '<a style="font-family: \'Inter\'; font-size: 1.2rem; font-weight: 700; color: #f2f2f2">Express JS</a><br/><a style="font-family: \'Inter\'; font-size: 1rem; font-weight: 500; color: #f5f5f5">A minimalistic and flexible web application framework for Node.js</a>',
    followCursor: true,
    allowHTML: true,
    animation: 'scale',
    plugins: [followCursor],
  })

  tippy('#fastify_logo', {
    theme: 'tomato',
    content: '<a style="font-family: \'Inter\'; font-size: 1.2rem; font-weight: 700; color: #f2f2f2">Fastify</a><br/><a style="font-family: \'Inter\'; font-size: 1rem; font-weight: 500; color: #f5f5f5">A highly efficient and low-overhead web framework for Node.js</a>',
    followCursor: true,
    allowHTML: true,
    animation: 'scale',
    plugins: [followCursor],
  })

  tippy('#gimp_logo', {
    theme: 'tomato',
    content: '<a style="font-family: \'Inter\'; font-size: 1.2rem; font-weight: 700; color: #f2f2f2">GIMP (GNU Image Manipulation Program)</a><br/><a style="font-family: \'Inter\'; font-size: 1rem; font-weight: 500; color: #f5f5f5">A free and open-source raster graphics editor</a>',
    followCursor: true,
    allowHTML: true,
    animation: 'scale',
    plugins: [followCursor],
  })

  tippy('#photoshop_logo', {
    theme: 'tomato',
    content: '<a style="font-family: \'Inter\'; font-size: 1.2rem; font-weight: 700; color: #f2f2f2">Adobe Photoshop</a><br/><a style="font-family: \'Inter\'; font-size: 1rem; font-weight: 500; color: #f5f5f5">A professional raster graphics editor developed by Adobe</a>',
    followCursor: true,
    allowHTML: true,
    animation: 'scale',
    plugins: [followCursor],
  })

  tippy('#premiere_logo', {
    theme: 'tomato',
    content: '<a style="font-family: \'Inter\'; font-size: 1.2rem; font-weight: 700; color: #f2f2f2">Adobe Premiere Pro</a><br/><a style="font-family: \'Inter\'; font-size: 1rem; font-weight: 500; color: #f5f5f5">A professional video editing software developed by Adobe</a>',
    followCursor: true,
    allowHTML: true,
    animation: 'scale',
    plugins: [followCursor],
  })

  tippy('#davinci_logo', {
    theme: 'tomato',
    content: '<a style="font-family: \'Inter\'; font-size: 1.2rem; font-weight: 700; color: #f2f2f2">DaVinci Resolve</a><br/><a style="font-family: \'Inter\'; font-size: 1rem; font-weight: 500; color: #f5f5f5">A professional video editing and color grading software developed by Blackmagic Design</a>',
    followCursor: true,
    allowHTML: true,
    animation: 'scale',
    plugins: [followCursor],
  })

  tippy('#react_logo', {
    theme: 'tomato',
    content: '<a style="font-family: \'Inter\'; font-size: 1.2rem; font-weight: 700; color: #f2f2f2">React JS</a><br/><a style="font-family: \'Inter\'; font-size: 1rem; font-weight: 500; color: #f5f5f5">A popular open-source JavaScript library that simplifies the process of building complex and interactive user interfaces</a>',
    followCursor: true,
    allowHTML: true,
    animation: 'scale',
    plugins: [followCursor],
  })

  tippy('#nextjs_logo', {
    theme: 'tomato',
    content: '<a style="font-family: \'Inter\'; font-size: 1.2rem; font-weight: 700; color: #f2f2f2">Next JS</a><br/><a style="font-family: \'Inter\'; font-size: 1rem; font-weight: 500; color: #f5f5f5">A popular open-source React framework that enables server-side rendering (SSR) and static site generation (SSG) for React-based web applications</a>',
    followCursor: true,
    allowHTML: true,
    animation: 'scale',
    plugins: [followCursor],
  })

  // const aboutText = document.getElementById('aboutText')
  // const aboutDesc = document.getElementById('aboutDesc')
  // aboutText.addEventListener('mousehover', () => {
  //   aboutDesc.innerHTML = 'about'
  // })
</script>

<MainLayout title="Pat Alcala" pageDescription="Portfolio">
  <div class="grid">
    <Image class="background-one showOnDesktop" src={background} alt="Pat Alcala" id="image" quality={'mid'} width={1280} />
    <Image class="background-one showOnMobile" src={background_mobile} alt="Pat Alcala" id="image" quality={'mid'} width={720} />

    <section class="texts">
      <span class="text--intro" id="text--intro">Hello, my name is</span>
      <span class="text--name showOnDesktop" id="text--name">{name}</span>

      <div class="text--name--split">
        <span class="text--name showOnMobile">{firstname}</span>
        <span class="text--name showOnMobile">{secondname}</span>
        <span class="text--name showOnMobile">{lastname}</span>
      </div>

      <span class="text--description">I'm a Computer Engineer and Writer based on Philippines</span>

      <section class="minilogos">
        <div id="facebook">
          <PLogo img={facebook_logo} alt="facebook logo" textid="facebook-name" text="Facebook" />
        </div>

        <div class="showOnDesktop" id="github">
          <PLogo img={github_logo} alt="github logo" textid="github-name" text="Github" margin="2.5" />
        </div>

        <div class="showOnMobile" id="github">
          <PLogo img={github_logo} alt="github logo" textid="github-name" text="Github" />
        </div>

        <div id="email">
          <PLogo img={mail_black_logo} alt="email logo" textid="email-name" text="Email" />
        </div>
      </section>
    </section>

    <section class="images" id="images">
      <Image class="image" src={pat} alt="Pat Alcala" id="image" quality={'mid'} width={800} height={800} />
    </section>

    <section class="buttons">
      <a href="projects">
        <div class="showOnDesktop" id="to-github">
          <PButton text="My Work" />
        </div>

        <div class="showOnMobile button">
          <PButtonWide text="My Work" />
        </div>
      </a>

      <a href="articles">
        <div class="showOnDesktop" id="to-medium">
          <PButton text="My Articles" />
        </div>

        <div class="showOnMobile button">
          <PButtonWide text="My Articles" />
        </div>
      </a>
    </section>
  </div>

  <div class="grid2">
    <section class="grid2-title">
      <span class="hidden-right showOnDesktop" id="aboutText">About Me</span>
      <span class="hidden-up showOnMobile" id="aboutText">About Me</span>
    </section>

    <section class="grid2-body">
      <p class="hidden-left showOnDesktop">
        <span id="aboutDesc">{about}</span>
      </p>
      <p class="hidden-left showOnDesktop">
        <span id="aboutDesc">{about2}</span>
      </p>

      <p class="hidden-up showOnMobile delayed">
        <span id="aboutDesc">{about}</span>
      </p>
      <p class="hidden-up showOnMobile delayed">
        <span id="aboutDesc">{about2}</span>s
      </p>
    </section>
  </div>

  <div class="grid3">
    <section class="grid3-title">
      <span class="hidden-left showOnDesktop">Skills</span>
      <span class="hidden-up showOnMobile">Skills</span>
    </section>

    <section class="grid3-body showOnDesktop">
      <div class="one hidden-right">
        <Image class="html_logo showOnDesktop" id="html_logo" src={html_logo} alt="html_logo" quality={'mid'} width={60} />
      </div>
      <div class="two hidden-right">
        <Image class="css_logo showOnDesktop" id="css_logo" src={css_logo} alt="css_logo" quality={'mid'} width={60} />
      </div>
      <div class="three hidden-right">
        <Image class="js_logo showOnDesktop" id="js_logo" src={js_logo} alt="js_logo" quality={'mid'} width={60} />
      </div>
      <div class="four hidden-right">
        <Image class="ts_logo showOnDesktop" id="ts_logo" src={ts_logo} alt="ts_logo" quality={'mid'} width={60} />
      </div>
      <div class="five hidden-right">
        <Image class="vue_logo showOnDesktop" id="vue_logo" src={vue_logo} alt="vue_logo" quality={'mid'} width={120} />
      </div>
      <div class="six hidden-right">
        <Image class="nuxt_logo showOnDesktop" id="nuxt_logo" src={nuxt_logo} alt="nuxt_logo" quality={'mid'} width={100} />
      </div>
      <div class="seven hidden-right">
        <Image class="cplusplus_logo showOnDesktop" id="cplusplus_logo" src={cplusplus_logo} alt="cplusplus_logo" quality={'mid'} width={60} />
      </div>
      <div class="eight hidden-right">
        <Image class="go_logo showOnDesktop" id="go_logo" src={go_logo} alt="go_logo" quality={'mid'} width={100} />
      </div>
      <div class="nine hidden-right">
        <Image class="nginx_logo showOnDesktop" id="nginx_logo" src={nginx_logo} alt="nginx_logo" quality={'mid'} width={120} />
      </div>
      <div class="ten hidden-right">
        <Image class="mysql_logo showOnDesktop" id="mysql_logo" src={mysql_logo} alt="mysql_logo" quality={'mid'} width={120} />
      </div>
      <div class="eleven hidden-right">
        <Image class="mongodb_logo showOnDesktop" id="mongodb_logo" src={mongodb_logo} alt="mongodb_logo" quality={'mid'} width={110} />
      </div>
      <div class="twelve hidden-right">
        <Image class="dotnet_logo showOnDesktop" id="dotnet_logo" src={dotnet_logo} alt="dotnet_logo" quality={'mid'} width={60} />
      </div>
      <div class="thirteen hidden-right">
        <Image class="quasar_logo showOnDesktop" id="quasar_logo" src={quasar_logo} alt="quasar_logo" quality={'mid'} width={60} />
      </div>
      <div class="fourteen hidden-right">
        <Image class="astro_logo showOnDesktop" id="astro_logo" src={astro_logo} alt="astro_logo" quality={'mid'} width={50} />
      </div>
      <div class="fifteen hidden-right">
        <Image class="react_logo showOnDesktop" id="react_logo" src={react_logo} alt="react_logo" quality={'mid'} width={90} />
      </div>
      <div class="sixteen hidden-right">
        <Image class="nextjs_logo showOnDesktop" id="nextjs_logo" src={nextjs_logo} alt="nextjs_logo" quality={'mid'} width={90} />
      </div>
      <div class="seventeen hidden-right">
        <Image class="express_logo showOnDesktop" id="express_logo" src={express_logo} alt="express_logo" quality={'mid'} width={90} />
      </div>
      <div class="eighteen hidden-right">
        <Image class="fastify_logo showOnDesktop" id="fastify_logo" src={fastify_logo} alt="fastify_logo" quality={'mid'} width={60} />
      </div>
      <div class="nineteen hidden-right">
        <Image class="gimp_logo showOnDesktop" id="gimp_logo" src={gimp_logo} alt="gimp_logo" quality={'mid'} width={100} />
      </div>
      <div class="twenty hidden-right">
        <Image class="photoshop_logo showOnDesktop" id="photoshop_logo" src={photoshop_logo} alt="photoshop_logo" quality={'mid'} width={60} />
      </div>
      <div class="twentyone hidden-right">
        <Image class="premiere_logo showOnDesktop" id="premiere_logo" src={premiere_logo} alt="premiere_logo" quality={'mid'} width={60} />
      </div>
      <div class="twentytwo hidden-right">
        <Image class="davinci_logo showOnDesktop" id="davinci_logo" src={davinci_logo} alt="davinci_logo" quality={'mid'} width={60} />
      </div>
    </section>

    <section class="grid3-body showOnMobile">
      <div class="one hidden-up">
        <Image class="html_logo showOnMobile" id="html_logo" src={html_logo} alt="html_logo" quality={'mid'} width={40} />
      </div>
      <div class="two hidden-up">
        <Image class="css_logo showOnMobile" id="css_logo" src={css_logo} alt="css_logo" quality={'mid'} width={40} />
      </div>
      <div class="three hidden-up">
        <Image class="js_logo showOnMobile" id="js_logo" src={js_logo} alt="js_logo" quality={'mid'} width={40} />
      </div>
      <div class="four hidden-up">
        <Image class="ts_logo showOnMobile" id="ts_logo" src={ts_logo} alt="ts_logo" quality={'mid'} width={40} />
      </div>
      <div class="five hidden-up">
        <Image class="vue_logo showOnMobile" id="vue_logo" src={vue_logo} alt="vue_logo" quality={'mid'} width={90} />
      </div>
      <div class="six hidden-up">
        <Image class="nuxt_logo showOnMobile" id="nuxt_logo" src={nuxt_logo} alt="nuxt_logo" quality={'mid'} width={80} />
      </div>
      <div class="seven hidden-up">
        <Image class="cplusplus_logo showOnMobile" id="cplusplus_logo" src={cplusplus_logo} alt="cplusplus_logo" quality={'mid'} width={40} />
      </div>
      <div class="eight hidden-up">
        <Image class="go_logo showOnMobile" id="go_logo" src={go_logo} alt="go_logo" quality={'mid'} width={80} />
      </div>
      <div class="nine hidden-up">
        <Image class="nginx_logo showOnMobile" id="nginx_logo" src={nginx_logo} alt="nginx_logo" quality={'mid'} width={100} />
      </div>
      <div class="ten hidden-up">
        <Image class="mysql_logo showOnMobile" id="mysql_logo" src={mysql_logo} alt="mysql_logo" quality={'mid'} width={100} />
      </div>
      <div class="eleven hidden-up">
        <Image class="mongodb_logo showOnMobile" id="mongodb_logo" src={mongodb_logo} alt="mongodb_logo" quality={'mid'} width={90} />
      </div>
      <div class="twelve hidden-up">
        <Image class="dotnet_logo showOnMobile" id="dotnet_logo" src={dotnet_logo} alt="dotnet_logo" quality={'mid'} width={40} />
      </div>
      <div class="thirteen hidden-up">
        <Image class="quasar_logo showOnMobile" id="quasar_logo" src={quasar_logo} alt="quasar_logo" quality={'mid'} width={40} />
      </div>
      <div class="fourteen hidden-up">
        <Image class="astro_logo showOnMobile" id="astro_logo" src={astro_logo} alt="astro_logo" quality={'mid'} width={30} />
      </div>
      <div class="fifteen hidden-up">
        <Image class="react_logo showOnMobile" id="react_logo" src={react_logo} alt="react_logo" quality={'mid'} width={70} />
      </div>
      <div class="sixteen hidden-up">
        <Image class="nextjs_logo showOnMobile" id="nextjs_logo" src={nextjs_logo} alt="nextjs_logo" quality={'mid'} width={70} />
      </div>
      <div class="seventeen hidden-up">
        <Image class="express_logo showOnMobile" id="express_logo" src={express_logo} alt="express_logo" quality={'mid'} width={70} />
      </div>
      <div class="eighteen hidden-up">
        <Image class="fastify_logo showOnMobile" id="fastify_logo" src={fastify_logo} alt="fastify_logo" quality={'mid'} width={40} />
      </div>
      <div class="nineteen hidden-up">
        <Image class="gimp_logo showOnMobile" id="gimp_logo" src={gimp_logo} alt="gimp_logo" quality={'mid'} width={80} />
      </div>
      <div class="twenty hidden-up">
        <Image class="photoshop_logo showOnMobile" id="photoshop_logo" src={photoshop_logo} alt="photoshop_logo" quality={'mid'} width={40} />
      </div>
      <div class="twentyone hidden-up">
        <Image class="premiere_logo showOnMobile" id="premiere_logo" src={premiere_logo} alt="premiere_logo" quality={'mid'} width={40} />
      </div>
      <div class="twentytwo hidden-up">
        <Image class="davinci_logo showOnMobile" id="davinci_logo" src={davinci_logo} alt="davinci_logo" quality={'mid'} width={40} />
      </div>
    </section>
  </div>
</MainLayout>

<style lang="sass">
  $title: #aeb6c2
  $sub-title: #8296b7
  // $text: #DEE5F0
  $text: #f2f2f2

  .page
    padding: 4rem
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: flex-start
    align-items: flex-start
    align-content: flex-start
    height: 100vh
    height: 100svh
    overflow: hidden

  .grid
    display: grid
    grid-template-columns: 1.3fr 0.7fr
    grid-template-rows: 1fr 1fr
    gap: 0px 0px
    grid-template-areas: ".images" "texts buttons"
    height: 100vh
    height: 100svh

  .background-one
    position: absolute
    top: 0
    left: 0
    width: 100vw
    height: 340vh
    object-fit: cover
    z-index: -1
    opacity: 0.9
    mix-blend-mode: overlay
    pointer-events: none

  .backgroundimage
    position: absolute
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    object-fit: cover
    z-index: -1
    opacity: 0.9
    mix-blend-mode: overlay
    pointer-events: none

  .backgroundimage2
    position: absolute
    top: 100
    left: 0
    width: 100vw
    height: 100vh
    object-fit: cover
    z-index: -1
    opacity: 0.9
    mix-blend-mode: overlay
    pointer-events: none

  .backgroundimage3
    position: absolute
    top: 200
    left: 0
    width: 100vw
    height: 100vh
    object-fit: cover
    z-index: -1
    opacity: 0.9
    mix-blend-mode: overlay
    pointer-events: none

  .blank
    grid-area: blank

  .buttons
    grid-area: buttons
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-end
    align-items: center
    align-content: flex-end
    margin: 0 0 5rem 0
    width: 72%

  .texts
    grid-area: texts
    margin: 0 0 0 8rem
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: flex-start
    align-items: flex-start
    align-content: flex-start
    gap: 0.9rem

  .text--intro
    font-family: 'Inter'
    font-size: 1.4rem
    font-weight: 500
    color: $sub-title

  .text--name
    font-family: 'Inter'
    font-weight: 800
    font-size: 5rem
    color: $title
    transition: color 1s ease-out
    text-shadow: 2px 2px 4px rgba(41, 61, 92, 0.3)

  .text--name:hover
    color: transparent
    -webkit-text-stroke: 2px $title
    transition: all 1s ease-out

  .text--description
    margin: -1rem 0 0 0
    font-family: 'Inter'
    font-size: 1.2rem
    font-weight: 500
    color: $title

  .images
    grid-area: images
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center
    align-items: center
    flex-wrap: wrap
    // margin: 4rem 4rem 0 0

  .image
    border-radius: 50%
    width: 20rem
    height: auto
    cursor: url('../assets/images/mouse2-32.webp') 0 0, auto
    padding: 2rem
    background-color: transparent
    backdrop-filter: blur(9px) saturate(101%)
    border: 1px solid rgba(209, 213, 219, 0.3)
    // transform: translateZ(0)
    // box-shadow: 0 10px 20px rgba(41, 61, 92, 0.3)
    // animation: floatAnimation 3s ease-in-out infinite

  @keyframes floatAnimation
    0%
      transform: scale(0.9)
      box-shadow: 0 10px 20px rgba(41, 61, 92, 0.3)
      padding: 2rem

    50%
      transform: scale(1.1)
      box-shadow: 0 10px 20px rgba(41, 61, 92, 0)
      padding: 1.8rem

    100%
      transform: scale(0.9)
      box-shadow: 0 10px 20px rgba(41, 61, 92, 0.3)
      padding: 2rem

  // .image--hidden
  //   @extend .image

  // .image--text
  //   font-family: Inter
  //   font-size: 1.1rem
  //   padding: 1rem 0 0 0
  //   color: #8296b7

  // .logos
  //   grid-area: logos
  //   justify-self: center
  //   align-self: center
  //   margin-top: -4rem

  // .logo
  //   width: 500px
  //   opacity: 0.1
  //   display: flex
  //   flex-wrap: wrap
  //   justify-content: center
  //   align-items: center
  //   align-content: center
  //   z-index: -50

  // .glow
  //   height: 50rem
  //   width: 50rem
  //   background: rgb(18,45,85)
  //   background: radial-gradient(circle, rgba(18,45,85,1) 0%, rgba(10,25,48,0) 70%)
  //   background-size: 100%
  //   background-repeat: no-repeat
  //   background-position: center
  //   z-index: -1
  //   position: absolute

  .minilogos
    // display: flex
    // flex-direction: column
    // margin: 0 0 0 8rem
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-start
    align-items: center
    align-content: center
    margin: 1.6rem 0 0 0

  .minilogo--logo
    cursor: pointer
    width: 2.6rem
    height: auto
    background: transparent
    background-blend-mode: soft-light
    transition: all 0.4s ease

  .minilogo--logo:hover
    cursor: url('../assets/images/mouse2-32.webp') 0 0, auto

  .logo-and-name
    display: flex
    flex-direction: column
    align-content: center
    align-items: center
    margin: 0 1rem 0 0

  .minilogo--name
    font-family: Inter
    color: $title
    padding: 1.1rem 0 0 0
    opacity: 0

  .showOnDesktop
    display: block

  .showOnMobile
    display: none

  .text--name--split
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: center
    align-items: center
    align-content: center

  .grid2
    // height: 100vh
    // height: 100svh
    // display: grid
    // grid-template-columns: 1fr
    // grid-template-rows: 0.1fr 1.9fr
    // gap: 0px 0px
    // grid-template-areas: "grid2-title" "grid2-body"
    display: grid
    grid-template-columns: 1.2fr 0.8fr
    grid-template-rows: 0.8fr 1.2fr
    gap: 0px 0px
    grid-template-areas: ".grid2-title" "grid2-body."
    height: 100vh
    height: 100svh

  .grid2-title
    grid-area: grid2-title
    display: flex
    justify-content: center
    align-items: center
    align-content: center
    font-family: 'Inter'
    font-size: 4rem
    font-weight: 700
    color: $title
    margin: 8rem 0 0 0

  .grid2-body
    grid-area: grid2-body
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: center
    align-items: center
    align-content: center
    font-family: 'Inter'
    font-size: 1.4rem
    font-weight: 400
    margin: 8rem
    color: $text

  .grid3
    display: grid
    grid-template-columns: 0.8fr 1.2fr
    grid-template-rows: 0.2fr 1.8fr
    gap: 0px 0px
    grid-template-areas: "grid3-title." ".grid3-body"
    height: 100vh
    height: 100svh

  .grid3-title
    @extend .grid2-title
    grid-area: grid3-title

  .grid3-body
    @extend .grid2-body
    grid-area: grid3-body
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: repeat(6, 1fr)
    gap: 0 0
    grid-template-areas: "one two three four" "five six seven eight" "nine ten eleven twelve" "thirteen fourteen fifteen sixteen" "seventeen eighteen nineteen twenty" "twentyone twentytwo none none"

  .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve, .thirteen, .fourteen, .fifteen, .sixteen, .seventeen, .eighteen, .nineteen, .twenty, .twentyone, .twentytwo
    justify-self: center
    align-self: center

  .one
    grid-area: one
    transition-delay: 0s
  .two
    grid-area: two
    transition-delay: 0.2s
  .three
    grid-area: three
  .four
    grid-area: four
  .five
    grid-area: five
  .six
    grid-area: six
  .seven
    grid-area: seven
  .eight
    grid-area: eight
  .nine
    grid-area: nine
  .ten
    grid-area: ten
  .eleven
    grid-area: eleven
  .twelve
    grid-area: twelve
  .thirteen
    grid-area: thirteen
  .fourteen
    grid-area: fourteen
  .fifteen
    grid-area: fifteen
  .sixteen
    grid-area: sixteen
  .seventeen
    grid-area: seventeen
  .eighteen
    grid-area: eighteen
  .nineteen
    grid-area: nineteen
  .twenty
    grid-area: twenty
  .twentyone
    grid-area: twentyone
  .twentytwo
    grid-area: twentytwo

  .hidden-right
    opacity: 0
    transform: translateX(90px)
    transition: all 1.2s cubic-bezier(0.39, 0.575, 0.565, 1)

    &:nth-child(2), &:nth-child(6), &:nth-child(10), &:nth-child(14), &:nth-child(18), &:nth-child(22)
      transition-delay: 0.2s

    &:nth-child(3),  &:nth-child(7),  &:nth-child(11),  &:nth-child(15),  &:nth-child(19), &:nth-child(23)
      transition-delay: 0.4s

    &:nth-child(4),  &:nth-child(8),  &:nth-child(12),  &:nth-child(16),  &:nth-child(20), &:nth-child(24)
      transition-delay: 0.6s

  .hidden-left
    opacity: 0
    transform: translateX(-90px)
    transition: all 1.2s cubic-bezier(0.39, 0.575, 0.565, 1)

    &:nth-child(2)
      transition-delay: 0.4s

  .hidden-up
    opacity: 0
    transform: translateY(-90px)
    transition: all 1.2s cubic-bezier(0.39, 0.575, 0.565, 1)

    &:nth-child(3), &:nth-child(4), &:nth-child(5)
      transition-delay: 0.2s

    &:nth-child(4),  &:nth-child(5),  &:nth-child(6)
      transition-delay: 0.4s

    &:nth-child(7),  &:nth-child(8),  &:nth-child(9)
      transition-delay: 0.6s

    &:nth-child(10),  &:nth-child(11),  &:nth-child(12)
      transition-delay: 0.8s

    &:nth-child(13),  &:nth-child(14),  &:nth-child(15)
      transition-delay: 1s

    &:nth-child(16),  &:nth-child(17),  &:nth-child(18)
      transition-delay: 1.2s

    &:nth-child(19),  &:nth-child(20),  &:nth-child(21)
      transition-delay: 1.4s

    &:nth-child(22),  &:nth-child(23),  &:nth-child(24)
      transition-delay: 1.6s

  .delayed
    transition-delay: 0.4s

  .show
    opacity: 1
    transform: translateX(0)
    transform: translateY(0)

  .modal
    width: 500px
    height: 500px
    background-color: blue
    opacity: 0

    &--text
      .color: white

  @media screen and (max-width: 1439px)
    // .grid
    //   display: grid
    //   grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    //   grid-template-rows: 1fr 1fr 1fr
    //   gap: 0px 0px
    //   grid-template-areas: "texts texts texts texts images" "minilogos logos logos logos logos" "buttons buttons buttons buttons buttons" "articles articles articles articles articles"

    .images
      // grid-area: images
      // display: inline
      // padding: 2.4rem 4rem 0 0

    .image
      width: 12rem
      height: auto

    .text--intro
      font-size: 1.2rem

    .text--name
      font-size: 2.8rem

    .text--description
      font-size: 1.2rem

  @media screen and (max-width: 1023px)
    .background-one
      height: 360vh

    .grid
      display: grid
      grid-template-columns: 1fr
      grid-template-rows: 1fr 1fr 1fr
      gap: 3rem
      grid-template-areas: "images" "texts" "buttons"
      width: 100vw
      height: auto
      overflow: auto

    // .grid::before
    //   background-image: url(../assets/images/page1_mobile_background.webp)
    //   mix-blend-mode: overlay

    .images
      grid-area: images
      display: flex
      flex-direction: column
      flex-wrap: wrap
      justify-content: flex-start
      align-items: center
      align-content: center
      margin: 1rem 0 0 0
      // opacity: 1

    .minilogos
      grid-area: minilogos
      // margin: 4rem 3rem 0 0

    .texts
      grid-area: texts
      margin: 0
      display: flex
      flex-direction: column
      flex-wrap: wrap
      justify-content: center
      align-items: center
      align-content: center

    .buttons
      grid-area: buttons
      display: flex
      flex-direction: column
      flex-wrap: wrap
      justify-content: center
      align-items: center
      align-content: center
      margin: auto
      padding: auto
      width: 100vw

    .button
      margin: 0 0 1.2rem 0

    .text--intro
      font-size: 1rem

    .text--name
      font-size: 2.4rem

    .text--description
      font-size: 0.9rem
      text-align: center
      margin: 0.5rem 0 0 0

    .showOnDesktop
      display: none

    .showOnMobile
      display: block

    .grid2
      display: grid
      grid-template-columns: 1fr
      grid-template-rows: 0.2fr 1.8fr
      gap: 0px 0px
      grid-template-areas: "grid2-title" "grid2-body"
      grid-alignment: center
      width: 100svw
      height: auto
      overflow: auto

    // .grid2::before
    //   background-image: url(../assets/images/page2_mobile_background.webp)
    //   mix-blend-mode: overlay

    .grid2-title
      grid-area: grid2-title
      font-size: 2rem
      color: $title
      margin: 6rem 0 0 0
      font-weight: bold

    .grid2-body
      grid-area: grid2-body
      text-align: center
      font-size: 0.9rem
      width: calc(100vw - 50%)

    .grid3
      display: grid
      grid-template-columns: 1fr
      grid-template-rows: 0.2fr 1.8fr
      gap: 0px 0px
      grid-template-areas: "grid3-title" "grid3-body"
      grid-alignment: center
      width: 100svw
      height: auto
      overflow: auto
      padding: 0

    // .grid3::before
    //   background-image: url(../assets/images/page2_mobile_background.webp)
    //   mix-blend-mode: overlay

    .grid3-title
      grid-area: grid3-title
      font-size: 2rem
      color: $title
      margin: 6rem 0 0 0
      font-weight: bold

    .grid3-body
      grid-area: grid3-body
      width: 100vw
      display: grid
      grid-template-columns: repeat(3, 1fr)
      grid-template-rows: repeat(8, 1fr)
      gap: 0px 0px
      grid-template-areas: "one two three" "four five six" "seven eight nine" "ten eleven twelve" "thirteen fourteen fifteen" "sixteen seventeen eighteen" "nineteen twenty twentyone" "twentytwo none none"
      margin: 6rem 0 0 0
</style>
