---
import MainLayout from '../layouts/MainLayout.astro'
import PButton from '../components/PButton.astro'
import PButtonWide from '../components/PButtonWide.astro'
import PLogo from '../components/PLogo.astro'

import { Image } from 'astro:assets'
import pat from '../assets/images/pat2.webp'
import facebook_logo from '../assets/images/facebook_logo4.svg'
import github_logo from '../assets/images/github_logo4.svg'
import mail_black_logo from '../assets/images/mail_black_logo3.svg'
import page1_background from '../assets/images/page1_background.png'
import sample from '../assets/images/sample.webp'

const name = 'Patrick Alvin Alcala'
const firstname = 'Patrick'
const secondname = 'Alvin'
const lastname = 'Alcala'
---

<script>
  import { gsap } from 'gsap'

  const openWebsite = (url: any) => {
    window.open(url, '_blank')
  }

  const facebook = document.getElementById('facebook')
  facebook.addEventListener('click', () => {
    openWebsite('https://facebook.com/patrick.alcala')
  })
  facebook.addEventListener('mouseover', () => {
    gsap.fromTo('#facebook-name', { duration: 0.6, opacity: 0, y: 100 }, { duration: 0.6, opacity: 1, y: 1 })
  })
  facebook.addEventListener('mouseleave', () => {
    gsap.to('#facebook-name', { duration: 0.6, opacity: 0, y: 100 })
  })

  const github = document.getElementById('github')
  github.addEventListener('click', () => {
    openWebsite('https://github.com/PatAlcala9')
  })
  github.addEventListener('mouseover', () => {
    gsap.fromTo('#github-name', { duration: 0.6, opacity: 0, y: 100 }, { duration: 0.6, opacity: 1, y: 1 })
  })
  github.addEventListener('mouseleave', () => {
    gsap.to('#github-name', { duration: 0.6, opacity: 0, y: 100 })
  })

  const email = document.getElementById('email')
  // email.addEventListener('click', () => {
  //   // openWebsite('https://github.com/PatAlcala9')
  // })
  email.addEventListener('mouseover', () => {
    gsap.fromTo('#email-name', { duration: 0.6, opacity: 0, y: 100 }, { duration: 0.6, opacity: 1, y: 1 })
  })
  email.addEventListener('mouseleave', () => {
    gsap.to('#email-name', { duration: 0.6, opacity: 0, y: 100 })
  })

  // const images = document.getElementById('images')
  // const image = document.getElementById('image')
  // images.addEventListener('mouseenter', () => {
  //   image.setAttribute('src', '../images/pat2.webp')
  // })
  // images.addEventListener('mouseleave', () => {
  //   image.setAttribute('src', '../images/pat.webp')
  // })
</script>

<MainLayout title="Pat Alcala" pageDescription="Portfolio">
  <div class="grid">
    <section class="texts">
      <span class="text--intro" id="text--intro">Hello, my name is</span>
      <span class="text--name showOnDesktop" id="text--name">{name}</span>

      <div class="text--name--split">
        <span class="text--name showOnMobile">{firstname}</span>
        <span class="text--name showOnMobile">{secondname}</span>
        <span class="text--name showOnMobile">{lastname}</span>
      </div>

      <span class="text--description">I'm a Computer Engineer and Writer based on Philippines</span>

      <section class="minilogos">
        <div id="facebook">
          <PLogo img={facebook_logo} alt="facebook logo" textid="facebook-name" text="Facebook" />
        </div>

        <div class="showOnDesktop" id="github">
          <PLogo img={github_logo} alt="github logo" textid="github-name" text="Github" margin="2.5" />
        </div>

        <div class="showOnMobile" id="github">
          <PLogo img={github_logo} alt="github logo" textid="github-name" text="Github" />
        </div>

        <div id="email">
          <PLogo img={mail_black_logo} alt="email logo" textid="email-name" text="Email" />
        </div>
      </section>
    </section>

    <section class="images" id="images">
      <Image class="image" src={pat} alt="Pat Alcala" id="image" quality={'mid'} />
    </section>

    <section class="buttons">
      <a href="projects">
        <div class="showOnDesktop" id="to-github">
          <PButton text="Projects" />
        </div>

        <div class="showOnMobile button">
          <PButtonWide text="Projects" />
        </div>
      </a>

      <a href="articles">
        <div class="showOnDesktop" id="to-medium">
          <PButton text="Articles" />
        </div>

        <div class="showOnMobile button">
          <PButtonWide text="Articles" />
        </div>
      </a>
    </section>
  </div>

  <div class="grid2">
    <section class="grid2-title">
      <span>About Me</span>
    </section>

    <section class="grid2-body">
      <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed repellendus inventore quod consequuntur nihil beatae voluptas omnis, dolores nam eaque dicta. Perferendis sint deserunt aspernatur culpa minima, voluptatum porro cumque? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias facere natus tenetur earum id dolore nam tempora, minus nemo inventore pariatur quod praesentium ipsum laborum nesciunt, sequi accusamus ab sit.</span>
    </section>
  </div>
</MainLayout>

<style lang="sass">
  $title: #aeb6c2
  $sub-title: #8296b7

  .page
    padding: 4rem
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: flex-start
    align-items: flex-start
    align-content: flex-start
    height: 100vh
    height: 100svh

  .grid
    // display: grid
    // grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    // grid-template-rows: 0.1fr 0.9fr 1fr
    // gap: 0px 0px
    // grid-template-areas: "buttons buttons buttons buttons buttons" "texts texts texts texts images" "minilogos logos logos logos logos"
    // height: 100vh
    // height: 100svh
    display: grid
    grid-template-columns: 1.4fr 0.6fr
    grid-template-rows: 1fr 1fr
    gap: 0px 0px
    grid-template-areas: ".images" "texts buttons"
    height: 100vh
    height: 100svh

  .grid::before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background-image: url(../assets/images/page1_background.webp)
    mix-blend-mode: overlay
    background-size: cover
    background-position: center
    opacity: 0.3
    pointer-events: none

  .blank
    grid-area: blank

  .buttons
    grid-area: buttons
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-end
    align-items: center
    align-content: flex-end
    margin: 0 10rem 5rem 0

  .texts
    grid-area: texts
    margin: 0 0 0 8rem
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: flex-start
    align-items: flex-start
    align-content: flex-start

  .text--intro
    font-family: Inter
    font-size: 1.4rem
    color: $sub-title

  .text--name
    font-family: 'Inter'
    font-weight: bold
    font-size: 5rem
    color: $title
    transition: color 1s ease-out

  .text--name:hover
    color: transparent
    -webkit-text-stroke: 2px $title
    transition: all 1s ease-out

  .text--description
    padding: 1rem 0 0 0
    font-family: Inter
    font-size: 1.2rem
    color: $title

  .images
    grid-area: images
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center
    align-items: center
    flex-wrap: wrap
    margin: 4rem 4rem 0 0

  .image
    border-radius: 50%
    width: 20rem
    height: auto
    cursor: url('../assets/images/mouse2-32.webp') 0 0, auto
    // border: 1px solid $sub-title
    padding: 2rem
    background-color: transparent
    backdrop-filter: blur(9px) saturate(101%)
    border: 1px solid rgba(209, 213, 219, 0.3)

  .image--hidden
    @extend .image

  .image--text
    font-family: Inter
    font-size: 1.1rem
    padding: 1rem 0 0 0
    color: #8296b7

  .logos
    grid-area: logos
    justify-self: center
    align-self: center
    margin-top: -4rem

  .logo
    width: 500px
    opacity: 0.1
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    align-content: center
    z-index: -50

  .glow
    height: 50rem
    width: 50rem
    background: rgb(18,45,85)
    background: radial-gradient(circle, rgba(18,45,85,1) 0%, rgba(10,25,48,0) 70%)
    background-size: 100%
    background-repeat: no-repeat
    background-position: center
    z-index: -1
    position: absolute

  .minilogos
    // display: flex
    // flex-direction: column
    // margin: 0 0 0 8rem
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-start
    align-items: center
    align-content: center
    margin: 1.6rem 0 0 0

  .minilogo--logo
    cursor: pointer
    width: 2.6rem
    height: auto
    background: transparent
    background-blend-mode: soft-light
    transition: all 0.4s ease

  .minilogo--logo:hover
    // width: 3rem
    cursor: url('../assets/images/mouse2-32.webp') 0 0, auto
    // cursor: none

  .logo-and-name
    display: flex
    flex-direction: column
    align-content: center
    align-items: center
    margin: 0 1rem 0 0

  .minilogo--name
    font-family: Inter
    color: $title
    padding: 1.1rem 0 0 0
    opacity: 0

  .showOnDesktop
    display: block

  .showOnMobile
    display: none

  .text--name--split
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: center
    align-items: center
    align-content: center

  .grid2
    // height: 100vh
    // height: 100svh
    // display: grid
    // grid-template-columns: 1fr
    // grid-template-rows: 0.1fr 1.9fr
    // gap: 0px 0px
    // grid-template-areas: "grid2-title" "grid2-body"
    display: grid
    grid-template-columns: 1.2fr 0.8fr
    grid-template-rows: 0.8fr 1.2fr
    gap: 0px 0px
    grid-template-areas: ".grid2-title" "grid2-body."
    height: 100vh
    height: 100svh

  .grid2::before
    content: ""
    position: absolute
    top: 100
    left: 0
    width: 100vw
    height: 100vh
    background-image: url(../assets/images/page2_background.webp)
    mix-blend-mode: overlay
    background-size: cover
    background-position: center
    opacity: 0.3
    pointer-events: none

  .grid2-title
    grid-area: grid2-title
    // background-color: white
    display: flex
    justify-content: center
    align-items: center
    align-content: center
    font-family: 'Inter'
    font-size: 4rem
    color: $title
    margin: 8rem 0 0 0

  .grid2-body
    grid-area: grid2-body
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: center
    align-items: center
    align-content: center
    font-family: 'Inter'
    font-size: 1.2rem
    margin: 8rem
    color: $sub-title

  @media screen and (max-width: 1366px)
    // .grid
    //   display: grid
    //   grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    //   grid-template-rows: 1fr 1fr 1fr
    //   gap: 0px 0px
    //   grid-template-areas: "texts texts texts texts images" "minilogos logos logos logos logos" "buttons buttons buttons buttons buttons" "articles articles articles articles articles"

    .images
      // grid-area: images
      // display: inline
      // padding: 2.4rem 4rem 0 0

    .image
      width: 12rem
      height: auto

    .text--intro
      font-size: 1.2rem

    .text--name
      font-size: 2.8rem

    .text--description
      font-size: 1.2rem

  @media screen and (max-width: 1024px)
    .grid
      display: grid
      grid-template-columns: 1fr
      grid-template-rows: 1fr 1fr 1fr
      gap: 3rem 0px
      grid-template-areas: "images" "texts" "buttons"
      width: 100svw
      overflow: auto

    .grid::before
      background-image: url(../assets/images/page1_mobile_background.webp)
      mix-blend-mode: overlay

    .images
      grid-area: images
      display: flex
      flex-direction: column
      flex-wrap: wrap
      justify-content: flex-start
      align-items: center
      align-content: center
      margin: 1rem 0 0 0
      // opacity: 1

    .minilogos
      grid-area: minilogos
      // margin: 4rem 3rem 0 0

    .texts
      grid-area: texts
      margin: 0
      display: flex
      flex-direction: column
      flex-wrap: wrap
      justify-content: center
      align-items: center
      align-content: center

    .buttons
      grid-area: buttons
      display: flex
      flex-direction: column
      flex-wrap: wrap
      justify-content: center
      align-items: center
      align-content: center
      margin: auto
      padding: auto
      width: 100vw

    .button
      margin: 0 0 1.2rem 0

    .text--intro
      font-size: 1rem

    .text--name
      font-size: 2.4rem

    .text--description
      font-size: 0.9rem
      text-align: center

    .showOnDesktop
      display: none

    .showOnMobile
      display: block

    .grid2
      display: grid
      grid-template-columns: 1fr
      grid-template-rows: 1fr 1fr 1fr
      gap: 3rem 0px
      grid-template-areas: "grid2-title" "grid2-body"
      width: 100svw
      overflow: auto

    .grid2::before
      background-image: url(../assets/images/page2_mobile_background.webp)
      mix-blend-mode: overlay

    .grid2-title
      grid-area: grid2-title
      font-size: 2rem
      color: $title
      margin: 8rem 0 0 0

    .grid2-body
      grid-area: grid2-body
      display: flex
      flex-direction: column
      flex-wrap: wrap
      justify-content: center
      align-items: center
      align-content: center
      font-family: 'Inter'
      font-size: 1.2rem
      width: 100%
      height: 100%
      color: $sub-title
</style>
