---
import { Image } from 'astro:assets'
const { img, alt, textid, text, margin="1.2" } = Astro.props
---

<div class="logo-and-name">
  <Image class="minilogo--logo" src={img} alt={alt} />
  <span class="minilogo--name showOnDesktop" id={textid}>{text}</span>
</div>

<style lang="sass" define:vars={{ marginRight: `0 ${margin}rem 0 0` }}>
  $title: #aeb6c2

  .logo-and-name
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    margin: var(--marginRight)

  .minilogo--logo
    cursor: url('../assets/images/mouse2-32.webp') 0 0, auto
    width: 2.6rem
    height: auto
    background: transparent
    background-blend-mode: soft-light
    transition: all 0.4s ease

  .minilogo--name
    font-family: Inter
    font-size: 1rem
    color: $title
    padding: 1.1rem 0 0 0
    margin: 0
    overflow: inherit
    opacity: 0

  .showOnDesktop
    display: block

  .showOnMobile
    display: none

  @media screen and (max-width: 1024px)
    .showOnDesktop
      display: none

    .showOnMobile
      display: block
</style>
